app-plugins {
  display: grid;
  grid-template-areas: "alert alert"
                       "menu main";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  color: var(--foreground-color);
  overflow: auto;
  flex: 1;

  section.alert {
    grid-area: alert;
    margin: 0 1.5rem 1.5rem;
    background-color: var(--highlight-color-40l);
    color: var(--background-color);
    border: 1px solid var(--highlight-color);
    border-radius: 3px;
    padding: 1rem;

    a {
      color: var(--background-color);
      text-decoration: underline;
    }
  }

  nav {
    grid-area: menu;
  }

  main {
    grid-area: main;
  }

  .menu.plugin {
    overflow: hidden;

    .list {
      &.installed {

      }

      &.available {
        flex: 1;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        span{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
        }

        .name {
        }

        .description {
          opacity: 0.5;
        }
      }
    }
  }

  .plugin-content {
    position: relative;

    h2 {
      font-size: 1rem;
      padding: 0.3rem 0;
      font-weight: lighter;
      margin: 0;
    }

    .h2-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.2em;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
