<section class="alert">Creating and publishing your own plugin is easy. Please refer to the <a class="external-link inline" (click)="openExternal('https://gitlab.com/cogno-rockers/cogno/-/wikis/Autocompleter-Plugins')">documentation</a> for guidance.</section>
<nav class="menu plugin">
  <input class="search" placeholder="Search for Plugins..." [(ngModel)]="search">
  <div class="list installed">
    <h2>Installed</h2>
    <ul>
      <li *ngFor="let plugin of installedPlugins | async | filterName:search;">
        <a class="plugin-data" [ngClass]="{'selected' : (selectedPlugin | async)?.name === plugin.name}"
           (click)="selectPlugin(plugin)">
          <span class="name">{{plugin.label || plugin.name}}</span>
          <span class="description">{{plugin.description}}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="list available">
    <h2>Available</h2>
    <ul>
      <li *ngFor="let plugin of availablePlugins | async | filterName:search;">
        <a class="plugin-data" [ngClass]="{'selected' : (selectedPlugin | async)?.name === plugin.name}"
           (click)="selectPlugin(plugin)">
          <span class="name">{{plugin.label || plugin.name}}</span>
          <span class="description">{{plugin.description}}</span>
        </a>
      </li>
    </ul>
    <app-loader style="padding: 1rem" *ngIf="isPluginsLoading | async"></app-loader>
  </div>
</nav>
<main class="plugin-content menu-content animated fadeIn" *ngIf="(selectedPlugin | async); let currentPlugin">
  <header>
    <h1>{{currentPlugin.label}}</h1>
    <h2>{{currentPlugin.name}}</h2>
    <div class="h2-container"><h2>{{currentPlugin.description}}</h2></div>
    <div class="buttons">
      <button class="default" [disabled]="isLoading | async" *ngIf="!currentPlugin.isInstalled" (click)="installPlugin()">Install</button>
      <button class="default" [disabled]="isLoading | async"  *ngIf="currentPlugin.isInstalled && currentPlugin.isUpdateAvailable"
              (click)="updatePlugin()">Update
      </button>
      <button *ngIf="currentPlugin.isInstalled" [disabled]="isLoading | async"
              (click)="uninstallPlugin()">Uninstall
      </button>
    </div>
  </header>
  <div class="card">
    <h2>Info</h2>
    <div class="input-container disabled" *ngIf="currentPlugin.installedVersion || currentPlugin.availableVersion">
      <label>Version</label>
      <input [ngModel]="currentPlugin.installedVersion || currentPlugin.availableVersion">
    </div>
    <div class="input-container disabled" *ngIf="currentPlugin.availableVersion && (currentPlugin.isUpdateAvailable)">
      <label>New Version</label>
      <input [ngModel]="currentPlugin.availableVersion">
    </div>
    <div class="input-container disabled" *ngIf="currentPlugin.username">
      <label>Author</label>
      <input [ngModel]="currentPlugin.username">
    </div>
    <div class="input-container disabled" *ngIf="currentPlugin.type">
      <label>Type</label>
      <input [ngModel]="currentPlugin.type">
    </div>
    <div class="input-container disabled" *ngIf="currentPlugin.email">
      <label>Email</label>
      <input [ngModel]="currentPlugin.email">
    </div>
    <div class="input-container disabled" *ngIf="currentPlugin.homepage">
      <label>Homepage</label>
      <a class="external-link" (click)="openExternal(currentPlugin.homepage)">{{currentPlugin.homepage}}</a>
    </div>
    <div class="input-container disabled" *ngIf="currentPlugin.repository">
      <label>Repository</label>
      <a class="external-link" (click)="openExternal(currentPlugin.repository)">{{currentPlugin.repository}}</a>
    </div>
    <div class="input-container disabled" *ngIf="currentPlugin.regexp">
      <label>Triggered by Regular Expression</label>
      <input [ngModel]="currentPlugin.regexp">
    </div>
    <div class="input-container disabled" *ngIf="currentPlugin.placeholder">
      <label>Triggered by Placeholder</label>
      <input [ngModel]="currentPlugin.placeholder">
    </div>
    <a *ngIf="currentPlugin.installDir" class="external-link" (click)="openSourceCode(currentPlugin)">Show Source Code</a>
  </div>


</main>
