@import '../fonts/roboto/roboto';
@import '../fonts/comfortaa/comfortaa';
@import './animate.min.css';
@import './settings.scss';

html, body {
  margin: 0;
  height: 100%;
  font-family: var(--appFontFamily), 'Roboto', sans-serif;
  font-size: var(--appFontSize);
  color: var(--foreground-color);
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

pre {
  font-family: var(--appFontFamily), 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

*{
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
    &:hover {
      border-radius: 16px;
      background-clip: border-box;
      background-color: var(--background-color-20l);
    }
    background-color: var(--background-color-20l);
  }
}

.loader {
  border: 3px solid;
  border-color: var(--background-color-20l);
  border-top-color: var(--background-color-40l);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.terminal.xterm {
  padding: var(--padding-xterm);
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.terminal.xterm.column-select.focus {
  cursor: default;
}

input {
  caret-color:  var(--highlight-color);
  font-family: var(--appFontFamily), 'Roboto', sans-serif;
}

li {
  cursor: default;
}

a {
  cursor: default;
  &:hover {
    opacity: .8;
  }
}



.terminal-container {
  .command-bookmark {
    right: 2rem;
    svg{
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--highlight-color);
    }
  }
  .command-menu {
    right: 0;
    cursor: default;
    svg{
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--background-color-40l);
    }
    &:hover {
      svg{
        fill: var(--foreground-color);
        background-color: var(--background-color-10l);
        border-radius: 2px;
      }
    }
  }
  --radius-of-bubble: calc(round(up, calc(var(--fontSize) * 0.25), 1px));
  --left-position-of-line: round(up, calc(var(--fontSize) * -0.5), 1px);
  .command-bubble {
    position: absolute;
    left: calc(var(--left-position-of-line) - var(--radius-of-bubble) + 1px) !important;
    width: 0 !important;
    height: 0 !important;
    border-radius: 50%;
    border: var(--radius-of-bubble) solid var(--color-command-running);
    background-color: var(--color-command-running);
    transform: translateY(calc(var(--fontSize) * 0.4 + 0px));

    &.success {
      border-color: var(--color-command-success);
      background-color: var(--color-command-success);
    }

    &.error {
      border-color: var(--color-command-error);
      background-color: var(--color-command-error);
    }
  }

  .command-line {
    &:before {
      box-sizing: border-box;
      top: calc(var(--radius-of-bubble) * 2 - 1px);
      content: '';
      width: 0;
      left: var(--left-position-of-line);
      height: calc(100% - var(--radius-of-bubble) * 2 - 1px);
      position: absolute;
      border-left: 1px solid;
      border-right: 1px solid;
    }
    &.success:before {
      border-color: var(--color-command-success);
    }

    &.error:before {
      border-color: var(--color-command-error);
      border-style: dashed;
    }

    &.running:before {
      border: none;
    }
  }
}
