<ng-container *ngIf="(suggestionInfo | async); let info">
  <div class="container" [ngStyle]="info.position" [hidden]="!info.show">
    <ul #suggestionsElem>
      <li *ngFor="let suggestion of info.suggestions; let i=index;"
          [ngClass]="{'selected': i===(selectedIndex | async) }"
          [class]="suggestion['class']"
      >
        <ng-container *ngIf="suggestion.icon">
          <div class="emoji">{{suggestion.icon}}<div *ngIf="suggestion.subIcon" class="sub">{{suggestion.subIcon}}</div></div>
        </ng-container>
        <ng-container *ngIf="!suggestion.icon">
          <app-icon [name]="getIconByType(suggestion?.suggestionType)"></app-icon>
        </ng-container>
        <a class="suggestion" tabindex="1" (click)="selectSuggestion(i)"
           [innerHtml]="suggestion['html'] | safeHtml"></a>
        <a class="edit" *ngIf="suggestion?.suggestionType !== SuggestionType.PluginCommand && suggestion.suggestionType !== SuggestionType.Navigation" (click)="edit(suggestion)"><app-icon name="mdiSquareEditOutline"></app-icon></a>
      </li>
    </ul>
    <footer>
      <ng-container *ngIf="(selectedSuggestion | async); let suggestion">
        <app-icon [name]="getIconByType(suggestion?.suggestionType)" [color]="'var(--foreground-color-40d)'"></app-icon>
         <div>
           <span *ngIf="suggestion?.suggestionType === SuggestionType.SemiLocalCommand">Executed in </span>
           <span *ngIf="suggestion?.suggestionType === SuggestionType.LocalCommand">Executed in this folder</span>
           <span *ngIf="suggestion?.suggestionType === SuggestionType.GlobalCommand"></span>
           <span *ngIf="suggestion?.suggestionType === SuggestionType.PluginCommand">{{suggestion.pluginLabel}}</span>
           <span>{{suggestion.executedInDirectory}}</span>
         </div>
        <div class="space"></div>
        <div *ngIf="suggestion.score">Score {{suggestion.score | number: '1.2-2'}}</div>
      </ng-container>
    </footer>
  </div>
</ng-container>
