app-autocomplete {
  .container {
    color: var(--foreground-color-40d);
    background-color: var(--background-color-20l);
    overflow: hidden;
    z-index: 100;
    min-width: 300px;
    max-width: 700px;
    position: absolute;
    box-shadow: var(--shadow1);
    border-radius: 5px;
    font-size: 1rem;
  }

  @keyframes animate{
    0%{
      width: 0;
    }
    50%{
      width: 0;
    }
    100%{
      width: 100%;
    }
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: calc(var(--fontSize) * 1.5 * 8);

    li{
      height: calc(var(--fontSize) * 1.5);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        .highlight {
          background-color: var(--background-color-40l);
          color: var(--foreground-color);
        }
        .lowlight {
          opacity: 0.5;
        }
        .highlight-special {
          background-color: var(--background-color-40l);
          color: var(--foreground-color);
        }
      }
      &.selected {
        a {
          .highlight {
            background-color: var(--highlight-color);
            color: var(--background-color);
          }
          .lowlight {
            color: var(--background-color-20l);
          }
          .highlight-special {
            background-color: var(--highlight-color);
            color: var(--background-color);
          }
        }
      }

      .emoji {
        margin-left: 5px;
        position: relative;
        .sub {
          position: absolute;
          font-size: 0.8rem;
          bottom: -3px;
          right: -3px;
        }
      }
      .suggestion {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .edit {
        opacity: 0.3;
        /*cursor: pointer;*/
        app-icon svg{
          fill: var(--background-color);
        }
        &:hover {
          opacity: 1;
        }
      }
      &.selected {
        background-color: var(--highlight-color-40d);
        .edit {
          opacity: 1;
          app-icon svg{
            fill: var(--background-color);
          }
        }
        a {
          color: var(--background-color);
        }
      }

      a {
        padding: 0 .5em;
        margin-left: 1px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--foreground-color-40d);
      }
    }
  }

  footer{
    padding: 0 5px;
    background-color: var(--background-color-30l);
    border-top: 1px solid var(--background-color-40l);
    height: calc(var(--fontSize) * 1.1);
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow: hidden;
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .space {
      flex: 1;
    }

  }

  .delay-100ms {
    animation-delay: 100ms;
  }

  .duration-100ms {
    animation-duration: 100ms;
  }

  .loading-container{
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    position: fixed;
    bottom: 2px;
    right: 2px;
    z-index: 110;
  }

  .loader{
    height: 10px;
    width: 10px;
  }

  app-icon {
    height: var(--fontSize);
    width: var(--fontSize);
    svg {
      height: var(--fontSize) !important;
      width: var(--fontSize) !important;
    }
  }
}
