:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--foreground-color);
  background-color: var(--background-color);
  flex: 1;
  overflow: hidden;
  position: relative;
}

main {
  display: grid;
  overflow: auto;
}

ul {
  white-space: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2rem;

  .shell {
    position: relative;
    cursor: auto;
    white-space: nowrap;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--background-color-10l);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    app-icon {
      height: 20px;
      width: 20px;

      &::ng-deep svg {
        fill: var(--foreground-color);
        height: 20px;
        width: 20px;
      }
    }

    header {
      display: flex;
      width: 100%;
      gap: 0.2rem;
      font-size: larger;
      flex-direction: row;
      align-items: flex-start;

      .space {
        flex: 1;
      }

      button {
        /*cursor: pointer;*/
        opacity: 0.7;
        position: relative;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: 0.9rem;
        border-radius: 50%;
        margin: 0 0 0 0.5rem;
        height: 16px;
        color: var(--foreground-color-40d);;

        &:disabled {
          opacity: 0.3;
          pointer-events: none;
        }

        &:hover {
          opacity: 1;
        }

        app-icon {
          fill: var(--foreground-color-40d);
          height: 16px;
          width: 16px;

          &::ng-deep svg {
            height: 16px;
            width: 16px;
          }
        }
      }

      .badge {
        margin-left: 0.8rem;;
        background-color: var(--highlight-color);
        color: var(--background-color);
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;;

      input {
        min-width: 20rem;
      }
    }

    .buttons {
      display: none;
    }

    &:hover {
      .buttons {
        display: inherit;
      }
    }
  }

  button.add{
    border-radius: 50%;
    background-color: var(--background-color-20l);
    border: none;
    outline: none;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--background-color-30l);
    }
  }
}

app-edit-shell-dialog {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
