<main class="animated fadeIn">
  <div class="card">
    <h2>Position</h2>
    <small>Specifies where the autocomplete dropdown is positioned. Options: cursor (aligned with the cursor) or line (fixed to the input line).</small>
    <div class="row" *ngIf="position | async as p">
      <div class="checkbox-container" (click)="setAutocompletePosition('cursor')">
        <label>Cursor</label>
        <input type="radio" [checked]="p === 'cursor'">
        <span class="checkmark radio"></span>
      </div>
      <div class="checkbox-container" (click)="setAutocompletePosition('line')">
        <label>Line</label>
        <input type="radio" [checked]="p === 'line'">
        <span class="checkmark radio"></span>
      </div>
    </div>
  </div>
  <div class="card">
    <h2>Mode</h2>
    <small>Determines when the autocomplete dropdown is shown. Options: Always (on every key press) or Shortcut (on {{(shortcuts | async) | shortcut}} is triggered).</small>
    <div class="row" *ngIf="mode | async as m">
      <div class="checkbox-container" (click)="setAutocompleteMode('always')">
        <label>Always</label>
        <input type="radio" [checked]="m === 'always'">
        <span class="checkmark radio"></span>
      </div>
      <div class="checkbox-container" (click)="setAutocompleteMode('shortcut')">
        <label>Shortcut</label>
        <input type="radio" [checked]="m === 'shortcut'">
        <span class="checkmark radio"></span>
      </div>
    </div>
  </div>
</main>
