:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  padding: 3rem 0 2rem 4rem;
  line-height: 1.8rem;
  font-size: 1.15rem;
  overflow: auto;
}

.news {
  padding: 2rem;
  border: 2px solid var(--highlight-coloe);
  border-radius: 5px;
  background-color: var(--highlight-color-40l);
  color: var(--background-color);
  strong {
    font-size: 2rem;
  }
}

h1, h2, h3{
  margin: 1rem 0 1rem 0;
  padding: 0;
  font-weight: lighter;
}

h1 {
  margin: 4rem 0 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

h1:first-child {
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 2rem;
}

hr {
  display: block;
  min-width: 100%;
  margin: 0;
  border: none;
  &:after{
    display: block;
    content: '';
    height: 2px;
    background: var(--background-color-40l);;
    margin: 1rem 3rem 1rem 0;
  }
}

article, ul {
  margin: 0.6rem 3rem 0 0;
}

ul {
  padding: 0 0 1rem 0;

  li{
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
  }

  li:first-child{
    margin: 0;
  }

}

i {
  color: var(--foreground-color-40d);
  font-style: normal;
}

pre {
  max-width: none;
  padding: 0 0.1rem;
  border-radius: 5px;
  display: inline;
  background: var(--background-color-30l);
  border: 1px solid var(--background-color-40l);
  color: var(--foreground-color-40l);
}

code {
  max-width: none;
  padding: 0 0.1rem;
  border-radius: 5px;
  display: inline;
  background: var(--background-color-30l);
  border: 1px solid var(--background-color-40l);
  color: var(--foreground-color-40l);
  word-wrap: break-word;
}

app-icon {
  height: 14px;
  width: 20px;
  &::ng-deep svg {
    fill: var(--foreground-color-20d);
    height: 14px;
    width: 20px;
  }
}

a {
  text-decoration: underline;
  color: var(--highlight-color);
}
