<div class="container" *ngIf="(isActive$ | async)">
  <h1>Workspaces</h1>
  <ul *ngIf="!(isLoading$ | async)">
    <li>
      <div class="item default">
        <i class="workspace-icon">D</i>
        <a (click)="closeWorkspace($event)" data-keytip="D" data-keytip-depth="2">Default Workspace</a>
      </div>
    </li>
    <li *ngFor="let workspace of (workspaces$ | async); let index = index">
      @if (workspace.id === (selectedWorkspace$ | async)?.id) {
        @if ((selectedWorkspace$ | async); as selectedWorkspace) {
          <div id="workspaceInput">
            <header>
              <span>
              @if (selectedWorkspace.id === '') {
                Add the current tabs and panes arrangement as a workspace.
              } @else if (selectedWorkspace.id === (activeWorkspace$ | async)?.id) {
                Update the active Workspace.
              } @else {
                Update Workspace.
              }
              </span>
              <button (click)="closeInputField($event)">
                <app-icon name="mdiClose"></app-icon>
              </button>
            </header>
            <input id="inputField" placeholder="Name of workspace..." (keyup)="nameChanged($event)" [value]="(selectedWorkspace.name)" (click)="$event.stopPropagation()">
            <div style="margin-top: 0.5rem;" class="checkbox-container" (click)="toggleAutosave(); $event.stopPropagation();">
              <label style="display: flex;"><app-icon style="margin-right: 0.2rem" [color]="'var(--foreground-color-20d)'" [name]="'mdiRefreshAuto'"></app-icon>Automatically Save Changes</label>
              <input type="checkbox" [checked]="selectedWorkspace.isAutosaveEnabled">
              <span style="margin-top: 0.1rem;" class="checkmark checkbox"></span>
            </div>
            <button class="save" [disabled]="!(isNameValid$ | async)" (click)="saveWorkspace($event)">Save</button>
          </div>
        }
      } @else {
        <div class="item" [ngClass]="{'selected': (activeWorkspace$ | async)?.id === workspace.id}" title="{{workspace.name}}">
          <i class="workspace-icon" [ngStyle]="{'background-color': workspace.colorOpacity}">{{workspace.token}}</i>
          <a (click)="restoreWorkspace(workspace, $event)" [attr.data-keytip]="index + 1" data-keytip-depth="2">{{workspace.name}}</a>
          <app-icon title="Autosave" *ngIf="workspace.isAutosaveEnabled" [color]="'var(--foreground-color-40d)'" [name]="'mdiRefreshAuto'"></app-icon>
          <app-copy-edit-delete (onEvent)="handleEvent(workspace, $event)"></app-copy-edit-delete>
        </div>
      }
    </li>
  </ul>
  <app-loader *ngIf="(isLoading$ | async)"></app-loader>
  <span class="lonely" *ngIf="!(isInputVisible$ | async) && (workspaces$ | async)?.length === 0">
    Add the current tabs and panes arrangement as a workspace.
  </span>
  <button class="add" *ngIf="!(isInputVisible$ | async)" (click)="addWorkspace($event)"><app-icon name="mdiPlus" [color]="'var(--foreground-color-20d)'"></app-icon></button>
</div>
