app-workspaces-menu {
  .container {
    position: absolute;
    top: 35px;
    right: 5px;
    color: var(--foreground-color-20l);
    background-color: var(--background-color-10l);
    padding: 0.5em 0 0 0;
    line-height: 1.6;
    overflow: hidden;
    z-index: 100;
    box-shadow: var(--shadow1);
    border-radius: 2px;
    font-size: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 0.9rem;
      margin: 0;
      padding: 0.5rem;
      font-weight: bold;
      color: var(--foreground-color-40l);
    }

    button.add{
      border-radius: 50%;
      background-color: var(--background-color-20l);
      border: none;
      outline: none;
      width: 1.8rem;
      height: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      margin: 0.3rem 0;
      &:hover {
        background-color: var(--background-color-30l);
      }
    }

    button.save {
      margin-top: 0.5rem;
      &:disabled {
        background-color: var(--background-color);
        color: var(--background-color-40l);
      }
    }

    button {
      border: none;
      background-color: var(--highlight-color);
      /*cursor: pointer;*/
      outline: none;
      font-size: 1rem;
      color: var(--background-color);
      border-radius: 2px;
      padding: 0.2rem;



      &:hover {
        background-color: var(--highlight-color-20d);
      }
    }

    app-icon {
      height: 1.3rem;
      width: 1.3rem;
    }

    button.add {
      padding: 0 0.2rem;
    }

    .lonely {
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        white-space: nowrap;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;

        .item {
          display: flex;
          flex: 1;
          flex-direction: row;
          align-items: center;
          overflow: hidden;

          &.selected {
            background-color: var(--background-color-20l);
          }

          &:hover {
            background-color: var(--background-color-30l);
            .buttons {
              button {
                opacity: 0.5;
              }
            }
          }

          .workspace-icon {
            margin: 0 0 0 0.5rem;
            font-style: normal;
            text-transform: uppercase;
            border-radius: 3px;
            display: flex;
            width: 1.4rem;
            height: 1.4rem;
            align-items: center;
            justify-content: center;
            line-height: normal;
            background-color: var(--background-color-40l);
          }

          a {
            padding: 0.5rem;
            text-decoration: none;
            overflow: hidden;
            /*cursor: pointer;*/
            text-overflow: ellipsis;
            flex: 1;
          }

          .buttons {
            display: flex;
            align-items: center;

            button {
              opacity: 0;
              /*cursor: pointer;*/
              position: relative;
              border: none;
              background-color: rgba(0, 0, 0, 0);
              outline: none;
              justify-content: center;
              align-items: center;
              padding: 0;
              font-size: 0.9rem;
              border-radius: 50%;
              margin: 0 0.5rem 0 0;
              height: 16px;

              &:hover {
                opacity: 1;
              }

              app-icon {
                fill: var(--foreground-color-40d);
                height: 16px;
                width: 16px;

                &::ng-deep svg {
                  height: 16px;
                  width: 16px;
                }
              }
            }
          }
        }

        #workspaceInput {
          background-color: var(--background-color-20l);
          margin: 0.5rem 0 0 0;
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          flex: 1;

          header {
            white-space: normal;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 0.5rem;

            button {
              position: relative;
              border: none;
              background-color: var(--background-color-20l);
              color: var(--foreground-color);
              /*cursor: pointer;*/
              outline: none;
              justify-content: center;
              align-items: center;
              padding: 0;
              font-size: 0.9rem;
              border-radius: 50%;
              margin: 0 0.5rem 0 0;
              height: 16px;

              &:hover {
                background-color: var(--background-color-30l);
              }

              app-icon {
                fill: var(--foreground-color-40d);
                height: 16px;
                width: 16px;

                &::ng-deep svg {
                  height: 16px;
                  width: 16px;
                }
              }
            }
          }

          input {
            box-sizing: border-box;
            font-size: 1rem;
            flex: 1;
            color: var(--foreground-color-40l);
            background-color: var(--background-color-10l);
            margin: 0;
            width: 100%
          }
        }
      }
    }
  }

  app-loader {
    align-self: center;
    padding: 1rem 0;
  }

  .hidden {
    display: none !important;
  }
}
