<ng-container *ngIf="promptColors | async; let prompt">
  <ng-container *ngIf="theme | async; let currentTheme">
    <ng-container [ngSwitch]="currentTheme?.promptVersion">
      <ng-container *ngSwitchCase="1">
    <span [ngStyle]="{'color': prompt[0].foreground}">
        /somewhere/on/your/computer
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="2">
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">
      {{Chars.TriangleLeft.asString}}
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="3">
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[0].background]}">
        {{Chars.TriangleLeft.asString}}{{Chars.TriangleSeparatorLeft.asString}}
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="4">
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[0].background]}">
        {{Chars.CircleLeft.asString}}
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="5">
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[0].background]}">
        {{Chars.CircleLeft.asString}}{{Chars.CircleSeparatorLeft.asString}}
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="6">
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[0].background], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.TriangleLeft.asString}}
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[1].foreground], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.Branch.asString}} main
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[1].background]}">
        {{Chars.TriangleLeft.asString}}
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="7">
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[0].background], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.TriangleLeft.asString}}
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[1].foreground], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.Branch.asString}} main
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[1].background]}">
        {{Chars.TriangleLeft.asString}}{{Chars.TriangleSeparatorLeft.asString}}
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="8">
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[0].background], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.CircleLeft.asString}}
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[1].foreground], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.Branch.asString}} main
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[1].background]}">
        {{Chars.CircleLeft.asString}}
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="9">
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[0].background], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.CircleLeft.asString}}
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[1].foreground], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.Branch.asString}} main
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[1].background]}">
        {{Chars.CircleLeft.asString}}{{Chars.CircleSeparatorLeft.asString}}
    </span>
        <br>
      </ng-container>
      <ng-container *ngSwitchCase="10">
        {{Chars.TopLeftCorner.asString}}<span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">{{Chars.TriangleRight.asString}}</span>
    <span [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
      /somewhere/on/your/computer
    </span>
        <span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">
      {{Chars.TriangleLeft.asString}}
    </span>
        <br><span>{{Chars.BottomLeftCorner.asString}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="11">
        {{Chars.TopLeftCorner.asString}}<span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">{{Chars.TriangleRight.asString}}</span>
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[0].background]}">
        {{Chars.TriangleLeft.asString}}{{Chars.TriangleSeparatorLeft.asString}}
    </span>
        <br><span>{{Chars.BottomLeftCorner.asString}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="12">
        {{Chars.TopLeftCorner.asString}}<span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">{{Chars.CircleRight.asString}}</span>
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[0].background]}">
        {{Chars.CircleLeft.asString}}
    </span>
        <br><span>{{Chars.BottomLeftCorner.asString}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="13">
        {{Chars.TopLeftCorner.asString}}<span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">{{Chars.CircleRight.asString}}</span>
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[0].background]}">
        {{Chars.CircleLeft.asString}}{{Chars.CircleSeparatorLeft.asString}}
    </span>
        <br><span>{{Chars.BottomLeftCorner.asString}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="14">
        {{Chars.TopLeftCorner.asString}}<span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">{{Chars.TriangleRight.asString}}</span>
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[0].background], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.TriangleLeft.asString}}
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[1].foreground], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.Branch.asString}} main
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[1].background]}">
        {{Chars.TriangleLeft.asString}}
    </span>
        <br><span>{{Chars.BottomLeftCorner.asString}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="15">
        {{Chars.TopLeftCorner.asString}}<span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">{{Chars.TriangleRight.asString}}</span>
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[0].background], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.TriangleLeft.asString}}
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[1].foreground], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.Branch.asString}} main
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[1].background]}">
        {{Chars.TriangleLeft.asString}}{{Chars.TriangleSeparatorLeft.asString}}
    </span>
        <br><span>{{Chars.BottomLeftCorner.asString}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="16">
        {{Chars.TopLeftCorner.asString}}<span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">{{Chars.CircleRight.asString}}</span>
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[0].background], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.CircleLeft.asString}}
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[1].foreground], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.Branch.asString}} main
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[1].background]}">
        {{Chars.CircleLeft.asString}}
    </span>
        <br><span>{{Chars.BottomLeftCorner.asString}}</span>
      </ng-container>
      <ng-container *ngSwitchCase="17">
        {{Chars.TopLeftCorner.asString}}<span [ngStyle]="{'color':  currentTheme.colors[prompt[0].background]}">{{Chars.CircleRight.asString}}</span>
    <span
      [ngStyle]="{'color': currentTheme.colors[prompt[0].foreground], 'background-color': currentTheme.colors[prompt[0].background]}">
        /somewhere/on/your/computer
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[0].background], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.CircleLeft.asString}}
    </span>
        <span
          [ngStyle]="{'color': currentTheme.colors[prompt[1].foreground], 'background-color': currentTheme.colors[prompt[1].background]}">
        {{Chars.Branch.asString}} main
    </span>
        <span [ngStyle]="{'color': currentTheme.colors[prompt[1].background]}">
        {{Chars.CircleLeft.asString}}{{Chars.CircleSeparatorLeft.asString}}
    </span>
        <br><span>{{Chars.BottomLeftCorner.asString}}</span>
      </ng-container>
    </ng-container>
    <span>{{currentTheme.prompt}} {{command}}
      <span *ngIf="showCursor && currentTheme.cursorStyle === 'bar'" [ngStyle]="{'border-color': currentTheme.colors.cursor, 'border-left-width': currentTheme.cursorWidth + 'px', 'border-bottom-width': 0}"
            class="cursor">&nbsp;
        </span>
      <span *ngIf="showCursor && currentTheme.cursorStyle === 'underline'" [ngStyle]="{'border-color': currentTheme.colors.cursor, 'border-left-width': 0, 'border-bottom-width': 2 + 'px'}"
            class="cursor">&nbsp;
        </span>
    </span>
  </ng-container>
</ng-container>
