<ng-container *ngIf="_theme | async; let theme">
  <div class="preview animated fadeIn"
       style="background-size: cover; background-repeat: no-repeat; background-position: center" [ngStyle]="{
    'color':theme.colors.foreground,
    'background-image': 'linear-gradient(to bottom, '+(_backgroundColor | async)+', '+(_backgroundColor | async)+'), url('+ (_backgroundImage | async) + ')'
    }"
  >
    <div class="header" [ngStyle]="{'background-color': (footerHeaderColor | async)}" [style.font-family]="theme.appFontFamily">
      <div class="tab" [ngStyle]="{
        'background-color': (_backgroundColor | async),
        'color':theme.colors.highlight
        }">
        <app-icon name="mdiGit" [ngStyle]="{'fill': theme.colors.highlight}"></app-icon>&nbsp;&nbsp;...r/computer&nbsp;&nbsp;<app-icon
        name="mdiClose" [ngStyle]="{'fill': theme.colors.foreground}"></app-icon>
      </div>
    </div>
    <div class="terminal" [style.padding]="'1rem ' + theme.padding + 'rem'" [style.font-family]="theme.fontFamily"
         [style.backdrop-filter]="(_imageBlur | async)">
      <app-terminal-theme-prompt [theme]="_theme" [promptColors]="promptColors" [command]="'show-colors'" [showCursor]="false"></app-terminal-theme-prompt>
      <div [ngStyle]="{'color': theme.colors.white}">&nbsp;&nbsp;--> This is white color.</div>
      <div [ngStyle]="{'color': theme.colors.brightWhite}">&nbsp;&nbsp;--> This is bright white
        color.
      </div>
      <div [ngStyle]="{'color': theme.colors.black}">&nbsp;&nbsp;--> This is black color.</div>
      <div [ngStyle]="{'color': theme.colors.brightBlack}">&nbsp;&nbsp;--> This is bright black
        color.
      </div>
      <div [ngStyle]="{'color': theme.colors.red}">&nbsp;&nbsp;--> This is red color.</div>
      <div [ngStyle]="{'color': theme.colors.brightRed}">&nbsp;&nbsp;--> This is bright red color.
      </div>
      <div [ngStyle]="{'color': theme.colors.yellow}">&nbsp;&nbsp;--> This is yellow color.</div>
      <div [ngStyle]="{'color': theme.colors.brightYellow}">&nbsp;&nbsp;--> This is bright yellow
        color.
      </div>
      <div [ngStyle]="{'color': theme.colors.blue}">&nbsp;&nbsp;--> This is blue color.</div>
      <div [ngStyle]="{'color': theme.colors.brightBlue}">&nbsp;&nbsp;--> This is bright blue
        color.
      </div>
      <div [ngStyle]="{'color': theme.colors.green}">&nbsp;&nbsp;--> This is green color.</div>
      <div [ngStyle]="{'color': theme.colors.brightGreen}">&nbsp;&nbsp;--> This is bright green
        color.
      </div>
      <div [ngStyle]="{'color': theme.colors.magenta}">&nbsp;&nbsp;--> This is magenta color.</div>
      <div [ngStyle]="{'color': theme.colors.brightMagenta}">&nbsp;&nbsp;--> This is bright magenta
        color.
      </div>
      <div [ngStyle]="{'color': theme.colors.cyan}">&nbsp;&nbsp;--> This is cyan color.</div>
      <div [ngStyle]="{'color': theme.colors.brightCyan}">&nbsp;&nbsp;--> This is bright cyan
        color.
      </div>
      <div>&nbsp;</div>
      <app-terminal-theme-prompt [theme]="_theme" [promptColors]="promptColors" [command]="" [showCursor]="true"></app-terminal-theme-prompt>
      <div>&nbsp;</div>
    </div>
    <div class="footer" [ngStyle]="{'background-color': (footerHeaderColor | async)}" [style.font-family]="theme.appFontFamily">
      <div class="item">
        <app-icon [ngStyle]="{'fill': theme.colors.foreground}" name="mdiMonitor"></app-icon>&nbsp;Goofy&nbsp;&nbsp;
      </div>
      <div class="item">
        <app-icon [ngStyle]="{'fill': theme.colors.foreground}" name="mdiAccount"></app-icon>&nbsp;Micky
        Maus
      </div>
    </div>
  </div>
</ng-container>
