:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: lighter;
  font-size: 1.5rem;
  overflow: hidden;

  & > * {
    box-sizing: border-box;
  }
}

.prosa {
  height: 100%;
  width: 100%;
  padding: 0 3rem;
  line-height: 2rem;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;

  &.max-width {
    max-width: 50rem;
  }

  &.center {
    align-items: center;
  }
}

.prosa.center {
  align-items: center;
}

h1, h2 {
  padding: 0;
  margin-bottom: 2rem;
}

p {
  &.justify {
    text-align: justify;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: auto;

  li {
    width: 30rem;
    padding: 1rem 2rem 1rem 0;
    &.theme {
      padding: 0;
      width: 35rem;
    }

    &.font {
      width: 45rem;
    }

    &.tracking {
      width: 45rem;
      white-space: normal;
    }

    border-radius: 5px;
    background-color: var(--background-color-10l);
    border: 2px solid var(--background-color-10l);
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-areas: "selection main" "selection footer";
    /*cursor: pointer;*/

    &.selected {
      border: 2px solid var(--highlight-color);
    }

    app-icon {
      height: 25px;
      width: 25px;
      &::ng-deep svg {
        fill: var(--foreground-color);
        height: 25px;
        width: 25px;
      }
      &.dark::ng-deep svg {
        fill: var(--background-color-40l);
      }
    }

    .selection {
      grid-area: selection;
      place-self: center;
    }

    .theme {
      grid-area: main / footer;
      font-size: 1.5rem;
      align-items: flex-start;
      justify-content: center;

      app-terminal-theme-preview{
        font-size: 0.9rem;
        line-height:  0.9rem;
      }
    }

    .shell {
      grid-area: main;
      display: flex;
      gap: 0.2rem;
      font-size: 1.5rem;
      flex-direction: row;
      align-items: flex-start;
    }

    .footer {
      grid-area: footer;
      opacity: 0.5;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.buttons {
  width: 40rem;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'previous next';

  .button {
    width: 8rem;
    font-size: 1.5rem;
    line-height: 2rem;

    /*cursor: pointer;*/
    white-space: nowrap;
    border: none;
    border-radius: 3px;
  }

  .previous {
    grid-area: previous;
    justify-self: start;
    background-color: var(--background-color);
    color: var(--foreground-color);
  }

  .next {
    grid-area: next;
    justify-self: end;
    background-color: var(--highlight-color);
    color: var(--background-color);
  }
}
