app-themes {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  color: var(--foreground-color);
  overflow: auto;
  flex: 1;


  .loading-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: underline;
    /*cursor: pointer;*/
  }

  nav.menu {
    .list {
      &.installed {
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      &.available {
        flex: 1;
      }
    }
  }



  main.menu-content {
    position: relative;

    h2 {
      font-size: 1rem;
      padding: 0.3rem 0;
      font-weight: lighter;
      margin: 0;
    }

    .h2-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.2em;
    }

    .changes {
      background-color: var(--background-color-10l);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      margin-bottom: 1rem;

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }

      .message {
        position: absolute;
        bottom: -1.5rem;
      }
    }
  }

  .theme-editor {
    display: grid;

    .grid {
      display: grid;

      align-items: center;
      justify-items: center;
      grid-auto-flow: column;

      label {
        align-self: end;

        &.heading-side {
          justify-self: start;
          align-self: center;
        }
      }
    }

    .color-grid-no-heading {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 6em 3em;
      grid-auto-flow: row;
      grid-gap: 1rem;
    }

    .color-grid {
      font-size: 0.8rem;;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-auto-flow: column;

      .color-selector {
        margin: 0.5rem;
      }
    }
  }

  .prompt-color-select {
    select {
      outline: none;
      border: 3px solid var(--background-color-20l);
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      -webkit-appearance: none;

      option {
        color: var(--foreground-color-40l);
        background-color: var(--background-color-20l);
      }
    }
  }

  .prompt-char {
    max-width: 12rem;
  }

  color-picker {
    position: absolute;
    top: 0;
    left: -90px;

    .color-picker {
      background-color: var(--background-color-40l);
      border: none;
      box-shadow: var(--shadow1);

      .hex-text, .rgba-text, .hsla-text {
        .box div {
          color: var(--foreground-color);
        }

        input {
          font-size: inherit;
          flex: 1;
          color: var(--foreground-color-40l);
          background-color: var(--background-color-20l);
          padding: 0.5rem;
          border: none;
        }
      }

      .left {
        padding: 18px 9px;

        .selected-color-background {
          width: 37px;
          height: 37px;
        }
      }

      .selected-color {
        width: 40px;
        height: 40px;
        border: 3px solid var(--background-color-20l);
      }

      .arrow.arrow-top {
        border: none;
      }
    }
  }

  .color-selector {
    cursor: default;
    outline: none;
    border: 3px solid var(--background-color-20l);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    flex-direction: column;
    color: rgba(255, 255, 255, 0);

    &.light {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .cogno-slider {
    width: 250px;


    .ngx-slider-tick-value {
      top: -27px;
    }

    .ngx-slider-tick {
      background-color: var(--background-color-40l);
    }

    .ngx-slider-bar {
      background-color: var(--background-color-40l);
    }

    .ngx-slider-model-value, .ngx-slider-limit {
      margin: 0 4px;
      font-size: inherit;
      color: inherit;
    }

    .ngx-slider-bubble.ngx-slider-limit {
      font-size: inherit;
      color: inherit;
    }

    .ngx-slider-bar-wrapper {
      margin-left: 3px;
    }

    .ngx-slider-pointer {
      /*cursor: pointer;*/
      width: 20px;
      height: 20px;
      margin: 6px;
      top: -14px;
      background-color: var(--highlight-color);
      z-index: 3;
      border-radius: 50%;

      &.ngx-slider-active:after {
        background-color: var(--background-color);
      }

      &:after {
        background-color: var(--background-color);
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 4px;
      }
    }

  }

  .file-input-container {
    max-width: 60rem;

    .btn-remove {
      background-color: var(--background-color-30l);

      app-icon {
        width: 16px;
        height: 16px;

        svg {
          fill: var(--foreground-color-40d);
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
