<nav class="menu">
  <input class="search" placeholder="Search for Themes..." [(ngModel)]="search">
  <div class="list installed">
    <h2>Installed</h2>
    <ul>
      <li *ngFor="let theme of installedThemes | async | filterName:search;">
        <a [ngClass]="{'selected' : (selectedTheme | async).name === theme.name}"
           (click)="selectTheme(theme)">
          <span>{{ theme.name }}</span>
          <div class="icons">
            <app-icon *ngIf="theme.isDefault" [name]="'mdiWeatherSunny'"></app-icon>
            <app-icon *ngIf="theme.isDarkModeTheme" [name]="'mdiWeatherNight'"></app-icon>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="list available">
    <h2>Available</h2>
    <ul>
      <li *ngFor="let theme of availableThemes | async | filterName:search;">
        <a [ngClass]="{'selected' : (selectedTheme | async).name === theme.name}"
           (click)="selectTheme(theme)">{{ theme.name }}</a>
      </li>
    </ul>
    <app-loader style="padding: 1rem" *ngIf="isThemesLoading | async"></app-loader>
  </div>
</nav>
<main class="menu-content animated fadeIn" *ngIf="(selectedTheme | async); let currentTheme">
  <header>
    <h1>{{ currentTheme.name }}
      <span *ngIf="currentTheme.isDefault" class="badge"><app-icon [name]="'mdiWeatherSunny'"></app-icon>Default</span>
      <span *ngIf="currentTheme.isDarkModeTheme" class="badge"><app-icon [name]="'mdiWeatherNight'"></app-icon>Dark Mode</span>
    </h1>
    <div class="h2-container"><h2>{{ currentTheme.author }}</h2><span>Powered by <a class="external-link inline"
      (click)="openExternal('terminal.sexy')">terminal.sexy</a></span>
    </div>
    <div class="changes" *ngIf="!(isThemeLoading | async)">
      <div class="buttons">
        <button *ngIf="!currentTheme.isInstalled" (click)="installTheme()">Install</button>
        <button *ngIf="currentTheme.isInstalled && !currentTheme.isDefault"
                (click)="setAsDefaultTheme()">Use as Default
        </button>
        <button *ngIf="currentTheme.isInstalled && !currentTheme.isDarkModeTheme"
                (click)="setAsDarkModeTheme()">Use as Dark Mode Theme
        </button>
        <button *ngIf="currentTheme.isInstalled && (isChanged | async)" (click)="saveTheme()" class="default">
          Save
        </button>
        <button
          *ngIf="currentTheme.isInstalled && (isChanged | async) && (isAvailableAfterRestart | async)" class="default"
          (click)="saveThemeAndRelaunch()">
          Save and Relaunch
        </button>
        <button *ngIf="currentTheme.isInstalled && (isChanged | async)" (click)="resetTheme()">
          Reset
        </button>
        <button
          *ngIf="currentTheme.isInstalled && (installedThemes | async).length > 1 && !currentTheme.isDefault"
          (click)="uninstallTheme()">Uninstall
        </button>
      </div>
      <div class="message">
        <span *ngIf="(isChanged | async) && (isAvailableAfterRestart | async)">Please note: You will need to restart Cogno for this change to take effect.</span>
        <span *ngIf="(isChanged | async) && !(isAvailableAfterRestart | async) && (isAvailableInNewTab | async)">Please note: This change will only take effect in a new tab.</span>
        <span *ngIf="isThemeLoadError | async">Error while loading theme.</span>
      </div>
    </div>
  </header>
  <section>
    <div class="loading-container" *ngIf="(isThemeLoading | async)">
      <div class="animated fadeIn">Loading...</div>
    </div>
    <app-terminal-theme-preview
      *ngIf="!(isThemeLoading | async)"
      [theme]="selectedTheme | async"
      [promptColors]="promptColors"
    >
    </app-terminal-theme-preview>
    <div *ngIf="!(isThemeLoading | async)" class="theme-editor animated fadeIn">
      <div class="card">
        <h2>Renderer</h2>
        <div class="row">
          <div class="item">
            <div class="checkboxes">
              <div class="checkbox-container" (click)="toggleWebgl(); $event.stopPropagation()">
                <label>Enable WebGL</label>
                <input type="checkbox" [checked]="currentTheme.enableWebgl">
                <span class="checkmark checkbox"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="item">
            <div class="input-container" (click)="$event.stopPropagation()">
              <label>Padding</label>
              <input type="number" [ngModel]="currentTheme.padding" (change)="setPadding($event)" step="0.1" min="1">
            </div>
          </div>
          <div class="item">
            <div class="checkboxes">
              <div class="checkbox-container" (click)="toggleRemoveFullScreenAppPadding(); $event.stopPropagation()">
                <label>Remove padding for full-screen apps</label>
                <input type="checkbox" [checked]="currentTheme.removeFullScreenAppPadding">
                <span class="checkmark checkbox"></span>
                <small>Enable this option to remove padding around full-screen terminal applications, such as Vim.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card row">
        <h2>Terminal Colors</h2>
        <div class="color-grid-no-heading grid">
          <label class="heading-side">Background</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.background)"
                 [colorPicker]="currentTheme.colors.background"
                 [style.background]="currentTheme.colors.background"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label class="heading-side">Foreground</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.foreground)"
                 [colorPicker]="currentTheme.colors.foreground"
                 [style.background]="currentTheme.colors.foreground"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label class="heading-side">Highlight</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.highlight)"
                 [colorPicker]="currentTheme.colors.highlight"
                 [style.background]="currentTheme.colors.highlight"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
        </div>
        <div class="color-grid grid">
          <label></label>
          <label class="heading-side">Normal</label>
          <label class="heading-side">Bright</label>
          <label>White</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.white)"
                 [colorPicker]="currentTheme.colors.white"
                 [style.background]="currentTheme.colors.white" [cpAlphaChannel]="'disabled'"
                 [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.brightWhite)"
                 [colorPicker]="currentTheme.colors.brightWhite"
                 [style.background]="currentTheme.colors.brightWhite"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label>Black</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.black)"
                 [colorPicker]="currentTheme.colors.black"
                 [style.background]="currentTheme.colors.black" [cpAlphaChannel]="'disabled'"
                 [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.brightBlack)"
                 [colorPicker]="currentTheme.colors.brightBlack"
                 [style.background]="currentTheme.colors.brightBlack"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label>Red</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.red)"
                 [colorPicker]="currentTheme.colors.red"
                 [style.background]="currentTheme.colors.red" [cpAlphaChannel]="'disabled'"
                 [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.brightRed)"
                 [colorPicker]="currentTheme.colors.brightRed"
                 [style.background]="currentTheme.colors.brightRed"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label>Yellow</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.yellow)"
                 [colorPicker]="currentTheme.colors.yellow"
                 [style.background]="currentTheme.colors.yellow" [cpAlphaChannel]="'disabled'"
                 [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.brightYellow)"
                 [colorPicker]="currentTheme.colors.brightYellow"
                 [style.background]="currentTheme.colors.brightYellow"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label>Blue</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.blue)"
                 [colorPicker]="currentTheme.colors.blue"
                 [style.background]="currentTheme.colors.blue" [cpAlphaChannel]="'disabled'"
                 [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.brightBlue)"
                 [colorPicker]="currentTheme.colors.brightBlue"
                 [style.background]="currentTheme.colors.brightBlue"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label>Green</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.green)"
                 [colorPicker]="currentTheme.colors.green"
                 [style.background]="currentTheme.colors.green" [cpAlphaChannel]="'disabled'"
                 [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.brightGreen)"
                 [colorPicker]="currentTheme.colors.brightGreen"
                 [style.background]="currentTheme.colors.brightGreen"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label>Magenta</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.magenta)"
                 [colorPicker]="currentTheme.colors.magenta"
                 [style.background]="currentTheme.colors.magenta" [cpAlphaChannel]="'disabled'"
                 [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.brightMagenta)"
                 [colorPicker]="currentTheme.colors.brightMagenta"
                 [style.background]="currentTheme.colors.brightMagenta"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label>Cyan</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.cyan)"
                 [colorPicker]="currentTheme.colors.cyan"
                 [style.background]="currentTheme.colors.cyan" [cpAlphaChannel]="'disabled'"
                 [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.brightCyan)"
                 [colorPicker]="currentTheme.colors.brightCyan"
                 [style.background]="currentTheme.colors.brightCyan"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
        </div>
      </div>
      <div class="card">
        <h2>Prompt</h2>
        <div class="row">
          <div class="item">
            <div class="select-container">
              <label>Type</label>
              <select [ngModel]="currentTheme.promptVersion" (change)="setPromptVersion($event)">
                <option *ngFor="let promptVersion of promptVersions"
                        [value]="promptVersion.version">{{ promptVersion.label }}
                </option>
              </select>
            </div>
          </div>
          <div class="item-group">
            <div class="item" *ngIf="promptVersions[currentTheme.promptVersion].colorsCount >= 1">
              <label>Color</label>
              <div class="prompt-color-select">
                <select [ngModel]="currentTheme.colors.promptColors[0].foreground" (change)="setPromptColor(0, $event)"
                        [style.background-color]="currentTheme.colors[currentTheme.colors.promptColors[0].foreground]"
                        [style.color]="currentTheme.colors[currentTheme.colors.promptColors[0].foreground]">
                  <option *ngFor="let color of colors" [value]="color.color">{{ color.label }}</option>
                </select>
              </div>
            </div>
            <div class="item" *ngIf="promptVersions[currentTheme.promptVersion].colorsCount >= 2">
              <label>Background Color</label>
              <div class="prompt-color-select">
                <select [ngModel]="currentTheme.colors.promptColors[0].background"
                        (change)="setPromptBackgroundColor(0, $event)"
                        [style.background-color]="currentTheme.colors[currentTheme.colors.promptColors[0].background]"
                        [style.color]="currentTheme.colors[currentTheme.colors.promptColors[0].background]">
                  >
                  <option *ngFor="let color of colors" [value]="color.color">{{ color.label }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="item-group">
            <div class="item" *ngIf="promptVersions[currentTheme.promptVersion].colorsCount >= 3">
              <label>Color</label>
              <div class="prompt-color-select">
                <select [ngModel]="currentTheme.colors.promptColors[1].foreground" (change)="setPromptColor(1, $event)"
                        [style.background-color]="currentTheme.colors[currentTheme.colors.promptColors[1].foreground]"
                        [style.color]="currentTheme.colors[currentTheme.colors.promptColors[1].foreground]">>
                  <option *ngFor="let color of colors" [value]="color.color">{{ color.label }}</option>
                </select>
              </div>
            </div>
            <div class="item" *ngIf="promptVersions[currentTheme.promptVersion].colorsCount >= 4">
              <label>Background Color</label>
              <div class="prompt-color-select">
                <select [ngModel]="currentTheme.colors.promptColors[1].background"
                        (change)="setPromptBackgroundColor(1, $event)"
                        [style.background-color]="currentTheme.colors[currentTheme.colors.promptColors[1].background]"
                        [style.color]="currentTheme.colors[currentTheme.colors.promptColors[1].background]">
                  >
                  <option *ngFor="let color of colors" [value]="color.color">{{ color.label }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="input-container prompt-char" (click)="$event.stopPropagation()">
              <label>Prompt-Terminator</label>
              <input [ngModel]="currentTheme.prompt" (keyup)="setPrompt($event)" maxlength="5">
            </div>
          </div>
        </div>
        <div class="row">
          <p>If you have problems displaying the prompt, please use a powerline font. You can find some at <a class="external-link inline"
            (click)="openExternal('www.nerdfonts.com')">Nerd Fonts</a>.</p>
        </div>
      </div>
      <div class="card">
        <h2>Command Marker</h2>
        <div class="color-grid-no-heading grid">
          <label class="heading-side">Running Command</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.commandRunning)"
                 [colorPicker]="currentTheme.colors.commandRunning"
                 [style.background]="currentTheme.colors.commandRunning"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label class="heading-side">Successful Command</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.commandSuccess)"
                 [colorPicker]="currentTheme.colors.commandSuccess"
                 [style.background]="currentTheme.colors.commandSuccess"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          <label class="heading-side">Failed Command</label>
          <input class="color-selector"
                 (colorPickerChange)="setColor($event, ColorNames.commandError)"
                 [colorPicker]="currentTheme.colors.commandError"
                 [style.background]="currentTheme.colors.commandError"
                 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
        </div>
      </div>
      <div class="card">
        <h2>Font Terminal</h2>
        <div class="row">
          <div class="item">
            <div class="select-container">
              <label>Font</label>
              <select [ngModel]="currentTheme.fontFamily" (change)="setFont($event)">
                <option *ngFor="let font of fonts | async" [style]="{'fontFamily': font}" [value]="font">{{ font }}
                </option>
              </select>
            </div>
          </div>
          <div class="item">
            <div class="input-container" (click)="$event.stopPropagation()">
              <label>Size</label>
              <input type="number" [ngModel]="currentTheme.fontsize" (change)="setFontSize($event)" min="0">
            </div>
          </div>
          <div class="item">
            <div class="select-container">
              <label>Weight</label>
              <select [ngModel]="currentTheme.fontWeight" (change)="setFontWeight($event)">
                <option *ngFor="let weight of fontWeights" [value]="weight">{{ weight }}</option>
              </select>
            </div>
          </div>
          <div class="item">
            <div class="select-container">
              <label>Weight Bold</label>
              <select [ngModel]="currentTheme.fontWeightBold" (change)="setFontWeightBold($event)">
                <option *ngFor="let weight of fontWeights" [value]="weight">{{ weight }}</option>
              </select>
            </div>
          </div>
          <div class="item">
            <div class="checkboxes">
              <div class="checkbox-container" (click)="toggleLigatures(); $event.stopPropagation()">
                <label>Enable Ligatures</label>
                <input type="checkbox" [checked]="currentTheme.enableLigatures">
                <span class="checkmark checkbox"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>Font App</h2>
        <div class="row">
          <div class="item">
            <div class="select-container">
              <label>Font</label>
              <select [ngModel]="currentTheme.appFontFamily" (change)="setAppFont($event)">
                <option *ngFor="let font of appFonts | async" [style]="{'fontFamily': font}" [value]="font">{{ font }}
                </option>
              </select>
            </div>
          </div>
          <div class="item">
            <div class="input-container" (click)="$event.stopPropagation()">
              <label>Size</label>
              <input type="number" [ngModel]="currentTheme.appFontsize" (change)="setAppFontSize($event)" min="0">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>Cursor</h2>
        <div class="row">
          <div class="item">
            <div class="select-container">
              <label>Style</label>
              <select [ngModel]="currentTheme.cursorStyle"
                      (change)="setCursorStyle($event)">
                <option value="bar">Bar</option>
                <option value="underline">Underline</option>
              </select>
            </div>
          </div>
          <div class="item">
            <label>Color</label>
            <input class="color-selector"
                   (colorPickerChange)="setColor($event, ColorNames.cursor)"
                   [colorPicker]="currentTheme.colors.cursor"
                   [style.background]="currentTheme.colors.cursor" [cpAlphaChannel]="'disabled'"
                   [cpOutputFormat]="'hex'" [cpPosition]="'auto'"/>
          </div>
          <div class="item" *ngIf="currentTheme.cursorStyle === 'bar'">
            <label>Width</label>
            <ngx-slider class="cogno-slider" [value]="currentTheme.cursorWidth"
                        (userChangeEnd)="setCursorWidth($event)" [options]="cursorSliderOptions"></ngx-slider>
          </div>
          <div class="item">
            <div class="checkboxes">
              <div class="checkbox-container" (click)="toggleBlinkingCursor(); $event.stopPropagation()">
                <label>Blinking Cursor</label>
                <input type="checkbox" [checked]="currentTheme.cursorBlink">
                <span class="checkmark checkbox"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>Background Image</h2>
        <div class="file-input-container">
          <div class="input-container" (click)="$event.stopPropagation()">
            <label>Image</label>
            <input [ngModel]="currentTheme.image" (blur)="changeImagePath($event)"
                   (keyup)="changeImagePath($event)">
          </div>
          <button class="btn-remove" (click)="clearImagePath(); $event.stopPropagation();">
            <app-icon name="mdiClose"></app-icon>
          </button>
          <button (click)="openImagePathSelection(); $event.stopPropagation();">Browse...</button>
        </div>
        <div class="row">
          <p>You can use a local image or specify an image from the internet. For example, you can use <a class="external-link inline"
            (click)="openExternal('picsum.photos')">Lorem Picsum</a> to get a new image every time you start Cogno.</p>
        </div>
        <div class="row">
          <div class="item">
            <label>Opacity</label>
            <ngx-slider class="cogno-slider" [value]="currentTheme.imageOpacity"
                        (userChangeEnd)="setImageOpacity($event)"
                        [options]="opacitySliderOptions"></ngx-slider>
          </div>
          <div class="item">
            <label>Blur</label>
            <ngx-slider class="cogno-slider" [value]="currentTheme.imageBlur"
                        (userChangeEnd)="setImageBlur($event)"
                        [options]="blurSliderOptions"></ngx-slider>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
