<app-close-window-button></app-close-window-button>
<h1>Whoops!</h1>
<div class="subheader">
  <h3>Something is wrong in the <a (click)="openSettings()">settings file</a>.</h3>
</div>
<div>
  <div class="description">Maybe this helps a little...</div>
  <ul>
    <li *ngFor="let error of settingsErrors | async">{{error}}</li>
  </ul>
</div>
