:host {
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  color: #9f9f9f;
}

h1, h3 {
  color: #7f7f7f;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

a {
  color: #7f7f7f;
  text-decoration: underline;
  /*cursor: pointer;*/
}

.subheader {
  margin: 1em 0;
}

.description {
  margin: 4em 0 0 0;
  font-weight: 600;
  color: #7f7f7f;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 0.2em;
}
