@if (command | async; as c){
  <div class="parameter">
    <span class="header">Parameters</span>
    <table>
      @for (param of c.parameters; track param) {
        <tr>
          <td>
            {{param.name || ''}}
          </td>
          <td>
              <div class="switch-container">
                <div class="switch" (click)="toggleVariableParameter(param)">
                  <input type="checkbox" [checked]="param.isVariable">
                  <span class="slider"></span>
                </div>
                <label>Variable Parameter</label>
              </div>
          </td>
          <td>
            @if(param.isVariable) {

                <div class="select-container">
                  <label>Plugin</label>
                  <select [ngModel]="param.placeholder" (change)="setPlaceholder(param, $event)">
                    <option *ngFor="let plugin of plugins | async"
                            [value]="plugin.placeholder">{{ plugin.label }}
                    </option>
                  </select>
                </div>
            } @else {
              <div></div>
            }
          </td>
        </tr>
      }
    </table>
  </div>
}

