.parameter {
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
  .header {
    font-weight: 100;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    opacity: 0.6;
  }
  table {
    flex: 1;
    display: block;
    margin: 0;
    padding: 0;
    overflow: auto;
    tr {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 3rem;
      &:nth-child(odd) {
        background-color: var(--background-color-10l);
      }
      td {
        padding: 0.3rem 0 0.3rem 1rem;
        &:first-child {
          flex: 1;
        }
        &:last-child {
          width: 20%;
          min-width: 100px;
        }
      }
    }
  }
}
