:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: var(--background-color);
  box-sizing: border-box;
  font-size: 1rem;
  z-index: 1;
}

main{
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-areas: 'header saving link';
  background-color: var(--background-color);
  h1 {
    grid-area: header;
  }

  .saving {
    grid-area: saving;
    align-content: center;
  }

  a {
    grid-area: link;
    align-content: end;

  }
}


nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
  min-width: 13rem;
  ul {
    margin: 0;
    padding: 1.5rem 0.5rem 2rem 2rem;
    list-style-type: none;
    li {
      margin-bottom: 0.2rem;
      padding: 1rem;
      /*cursor: pointer;*/
      border-radius: 2px;
      &:hover {
        background-color: var(--background-color-20l);
      }
      &.selected {
        background-color: var(--highlight-color);
        color: var(--background-color);
      }
    }
  }
}


.external-link {
  margin-right: 1rem;
  padding: 1rem 0 0 3rem;
}

small {
  font-size: large;
}
