<nav>
  <ul>
    <li [ngClass]="{'selected': (selectedNav | async) == Nav.General}" (click)="selectNav(Nav.General)">
      <span>General</span></li>
    <li [ngClass]="{'selected': (selectedNav | async) == Nav.Themes}" (click)="selectNav(Nav.Themes)">
      <span>Themes</span></li>
    <li [ngClass]="{'selected': (selectedNav | async) == Nav.Shortcuts}" (click)="selectNav(Nav.Shortcuts)">
      <span>Shortcuts</span></li>
    <li [ngClass]="{'selected': (selectedNav | async) == Nav.Autocomplete}" (click)="selectNav(Nav.Autocomplete)">
      <span>Autocomplete</span></li>
    <li [ngClass]="{'selected': (selectedNav | async) == Nav.Plugins}" (click)="selectNav(Nav.Plugins)">
      <span>Plugins</span></li>
    <li [ngClass]="{'selected': (selectedNav | async) == Nav.Commands}" (click)="selectNav(Nav.Commands)">
      <span>Commands</span></li>
  </ul>
  <a class="external-link" (click)="openSettingsExternal()">Edit in settings.json</a>
</nav>
<main [ngSwitch]="(selectedNav | async)">
  <header>
    <h1 *ngSwitchCase="Nav.General">General</h1>
    <h1 *ngSwitchCase="Nav.Themes">Themes</h1>
    <h1 *ngSwitchCase="Nav.Shortcuts">Shortcuts</h1>
    <h1 *ngSwitchCase="Nav.Autocomplete">Autocomplete</h1>
    <h1 *ngSwitchCase="Nav.Plugins">Plugins</h1>
    <h1 *ngSwitchCase="Nav.Commands">Commands</h1>
    <app-loader class="saving" *ngIf="isLoading | async"></app-loader>
  </header>
  <app-general *ngSwitchCase="Nav.General"></app-general>
  <app-themes *ngSwitchCase="Nav.Themes"></app-themes>
  <app-shortcuts *ngSwitchCase="Nav.Shortcuts"></app-shortcuts>
  <app-autocomplete *ngSwitchCase="Nav.Autocomplete"></app-autocomplete>
  <app-plugins *ngSwitchCase="Nav.Plugins"></app-plugins>
  <app-commands *ngSwitchCase="Nav.Commands"></app-commands>
</main>
