<div class="container" (click)="besideClick()">
  <dialog>
    <main>
      <section *ngIf="(activeShortcut | async)?.command !== undefined">
        Enter your command.
        <input #commandInput class="alias-command" (keyup)="commandChanged($event)" [ngModel]="(activeShortcut | async).command" (click)="commandInputFocus($event)">
      </section>
      <section>
        Press desired key combination.
        <div class="keys" (click)="keyInputFocus($event)" [ngClass]="{'focus': hasShortcutInputFocus | async}">
          <input class="dummyInput" #keyInput (keydown)="shortcutChanged($event)" (focus)="onFocusShortcutInput($event)">
          <span *ngIf="(keys | async).length === 0" class="cursor" [ngClass]="{'blink': hasShortcutInputFocus | async}"></span>
          {{keys | async | shortcutKeys}}
        </div>
        <span class="warning" *ngIf="duplicatedShortcut | async">This shortcut is already used.</span>
      </section>
    </main>
    <footer>
      <button (click)="close($event)">Cancel</button>
      <button (click)="save($event)"class="default">Ok</button>
    </footer>
  </dialog>
</div>
