
app-shortcuts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--foreground-color);
  background-color: var(--background-color);
  flex: 1;
  position: relative;

  section.alert {
    margin: 0 1.5rem 1.5rem 1.5rem;
    background-color: var(--color-yellow);
    color: var(--background-color);
    border-radius: 3px;
    h2 {
      padding: 0.4rem 0.6rem;
      margin: 0;
      font-weight: bold;
    }
    dd{
      cursor: pointer;
      margin-inline-start: 1rem;
    }
    dl {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .search {
    box-sizing: border-box;
    margin: 0.3rem 1.5rem 2rem 1.5rem;
    width: 100%;
    width: calc(100% - 3rem);
  }

  main {
    display: grid;
    overflow: auto;

    h2 {
      font-size: 1.5rem;
      padding: 0.3rem 1.5rem;
      font-weight: bold;
      margin: 0;
    }

    ul {
      padding: 0;
      margin: 0 1.5rem 2rem 1.5rem;
      box-sizing: content-box;
    }

    li {
      display: grid;
      grid-template-columns: 40px 1fr 1fr;
      padding: 1rem 0 1rem 1rem;
      gap: 1rem;

      .buttons {
        display: flex;
        align-items: center;

        button {
          opacity: 0;
          /*cursor: pointer;*/
          position: relative;
          border: none;
          background-color: rgba(0, 0, 0, 0);
          outline: none;
          justify-content: center;
          align-items: center;
          padding: 0;
          font-size: 0.9rem;
          border-radius: 50%;
          margin: 0 0.5rem 0 0;
          height: 1rem;

          &:hover {
            opacity: 1;
            app-icon {
              fill: var(--foreground-color);
              height: 1rem;
              width: 1rem;
            }
          }

          app-icon {
            fill: var(--foreground-color-40d);
            height: 1rem;
            width: 1rem;
          }
        }
      }

      &:hover {
        background-color: var(--background-color-20l);

        button {
          opacity: 1;
        }
      }

      &:nth-child(odd) {
        background-color: var(--background-color-10l);
        &:hover {
          background-color: var(--background-color-20l);
        }
      }

      &:has(.add){
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color);
        &:hover {
          fill: var(--foreground-color);
          background-color: var(--background-color);
        }
      }
    }
  }

  app-edit-shortcut {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }

  button.add{
    border-radius: 50%;
    background-color: var(--background-color-20l);
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    app-icon {
      fill: var(--foreground-color);
      height: 1.4rem;
      width: 1.4rem;
    }

    &:hover {
      background-color: var(--background-color-30l);
    }
  }

}
