
@if ((duplicatedShortcuts | async)?.length > 0) {
<section class="alert">
<h2>Duplicated Shortcut Commands</h2>
<dl *ngFor="let shortcut of duplicatedShortcuts | async">
<dd (click)="searchForLabel(shortcut.label)">{{shortcut.label}}</dd>
<dt>{{shortcut.shortcut | shortcut}}</dt>
</dl>
</section>
}
<input class="search" placeholder="Search for shortcut or alias..." #searchInput [(ngModel)]="search">
<main class="animated fadeIn">
  <h2>Aliases</h2>
  <ul>
    <li *ngFor="let alias of shortcuts | async | shortcutFilter:search:true">
      <app-copy-edit-delete (onEvent)="handleEvent(alias, $event)"></app-copy-edit-delete>
      <div>{{alias.label}}</div>
      <div>{{alias.shortcut | shortcut}}</div>
    </li>
    <li><button class="add" (click)="addAlias()"><app-icon name="mdiPlus" color="'var(--foreground-color)'"></app-icon></button></li>
  </ul>
  <h2>Shortcuts</h2>
  <ul>
    <li *ngFor="let shortcut of shortcuts | async | shortcutFilter:search:false">
      <app-copy-edit-delete (onEvent)="handleEvent(shortcut, $event)"></app-copy-edit-delete>
      <div>{{shortcut.label}}</div>
      <div>{{shortcut.shortcut | shortcut}}</div>
    </li>
  </ul>
</main>
<app-edit-shortcut *ngIf="showEditShortcut | async"></app-edit-shortcut>
