app-edit-command {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);

  dialog {
    background-color: var(--background-color-10l);
    color: var(--foreground-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow2);
    border: none;
    border-radius: 3px;
    width: 80%;
    height: 80%;

    main {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 1.5rem;
      overflow-x: hidden;
      overflow-y: auto;

      h2 {
        margin: 0;
      }

      app-local, app-remote {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1rem;
      }

      app-parameter-table{
        overflow: auto;
        flex: 1;
      }
    }

    footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1rem;
      padding: 2rem 0 0 0;
    }
  }
}
