<dialog class="dialog">
  <main>
    @if (command | async; as c) {
      <h2>{{ c.tool || 'Tool'}} </h2>
      <div class="row">
        <div class="item" style="flex:1">
          <div class="input-container prompt-char" style="flex:1" (click)="$event.stopPropagation()">
            <label>Command</label>
            <input #commandInput [ngModel]="c.command" (keyup)="updateCommand($event)">
          </div>
        </div>
      </div>
      <app-parameter-table></app-parameter-table>
    }
  </main>
  <footer>
    <button (click)="closeDialog()">Cancel</button>
    <button class="default" [disabled]="!(isDialogValid | async)" (click)="saveAndCloseDialog()">Save</button>
  </footer>
</dialog>
