:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a {
  /*cursor: pointer;*/
}

.blur {
  backdrop-filter: blur(5px);
  padding: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  app-logo {
    margin: 0 0 10px 0;
    width: 60px;
    height: 60px;
  }
}



main {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: large;
    opacity: 0.8;

    app-icon {
      margin-right: 0.5rem;
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      opacity: 1;
    }

    .shortcut {
      margin-left: 1rem;
      font-size: 1rem;
      color: var(--background-color-40l);
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    opacity: 0.8;
    app-icon {
      margin-right: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
    &:hover {
      opacity: 1;
    }
  }
}
