<div class="dialog" [hidden]="!(isActive | async)">
  <div class="input-container">
    <input #inputElem id="actionsInput" placeholder="Search for any shortcut..."
           (keyup)="inputChanged($event)">
  </div>
  <ul #shortcutsElem>
    <li *ngFor="let shortcut of shortcuts | async; let i = index" (click)="shortcutClicked(shortcut)"
        [ngClass]="{'selected': shortcut?.key === (selectedShortcut | async)?.key}">
      <a>
        <span>{{shortcut?.label}}</span>
        <span class="shortcut">{{shortcut?.shortcut | shortcut}}</span>
      </a>
    </li>
  </ul>
</div>
