<div class="logo-container">
  <app-logo [color]="'var(--background-color-10l)'" [backgroundColor]="'var(--foreground-color-20d)'"></app-logo>
</div>

<h1 style="font-family: 'Comfortaa'">
  Cogno
  <app-icon name="mdiWeatherNight" *ngIf="(isNightly | async)"></app-icon>
</h1>
<h2>
  Version {{version | async}}
</h2>
<small *ngIf="isProduction | async">Prod-Build</small>
<small *ngIf="!(isProduction | async)">Test-Build</small>
<h3>{{userId | async}}</h3>
<div class="buttons-container">
  <div class="buttons-row">
    <button (click)="openLogs()">Show Logs</button>
    <button (click)="openDevtools()">Open Devtools</button>
  </div>
  <button (click)="openThirdPartyLicenses()">See full list of dependent open source licenses.</button>
</div>
