:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 6px;
  position: relative;

  app-icon {
    position: absolute;
    right: -1rem;
    top: -0rem;
  }
}

small {
  opacity: 0.7;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  font-weight: lighter;
  margin: 0 0 5% 0;
  color: var(--foreground-color-40d);
}

a {
  /*cursor: pointer;*/
  text-decoration: underline;
}

.buttons-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 1rem;

  .text {
    font-size: 1.25rem;
  }

  .buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    button {
      width: 11rem;
    }
  }

  button {
    width: 23rem;
  }

}

.logo-container {
  display: flex;
  justify-content: center;
  position: relative;

  app-logo {
    margin: 5px 0 10px 0;
    width: 70px;
    height: 70px;
  }
}

app-icon {
  &::ng-deep svg {
    fill: var(--foreground-color-20d);
  }
}
