.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--foreground-color-40l);
  background-color: var(--background-color-20l);
  border-top: 1px solid var(--background-color-40l);
  line-height: 1.6;
  overflow: hidden;
  z-index: 100;
  box-shadow: var(--shadow1);
  border-radius: 2px;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  #input {
    font-size: 1rem;
    max-width: 30rem;
    height: 30px;
    color: var(--foreground-color-40l);
    background-color: var(--background-color-20l);
    padding: 0 0.5em;
    border: none;
  }

  .btn {
    position: relative;
    border: none;
    background-color: var(--background-color-20l);
    color: var(--foreground-color);
    /*cursor: pointer;*/
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem 0 0.2rem;
    margin: 0;

    &.light {
      color: var(--foreground-color-40d);
    }

    &.active {
      color: var(--highlight-color);
      background-color: var(--background-color-10l);
    }

    &.border:after{
      content: '';
      position: absolute;
      right: -0.05em;
      height: 80%;
      border-right: 2px solid var(--background-color-30l);
    }

    &:hover {
      background-color: var(--background-color-30l);
    }
  }

  .results {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-20l);
    color: var(--foreground-color-40d);
  }

  app-icon {
    fill: var(--foreground-color);
    height: 16px;
    width: 16px;
    &::ng-deep svg {
      height: 16px;
      width: 16px;
    }
  }

  .spacer {
    flex: 1;
  }
}
