<div class="container" *ngIf="(isVisible | async)" [ngStyle]="positionStyle">
  <ul>
    <li *ngFor="let shell of shellConfigs | async; let i = index"
        (click)="openShell(shell)"
        [attr.data-keytip]="i + 1"
        data-keytip-depth="2"
    >
      <app-shell-icon [shell]="shell"></app-shell-icon>
      {{shell.name}}
      <span style="flex:1"></span>
      <span *ngIf="i === 0" class="shortcut">{{(shortcuts | async)?.openShell1 | shortcut}}</span>
      <span *ngIf="i === 1" class="shortcut">{{(shortcuts | async)?.openShell2 | shortcut}}</span>
      <span *ngIf="i === 2" class="shortcut">{{(shortcuts | async)?.openShell3 | shortcut}}</span>
      <span *ngIf="i === 3" class="shortcut">{{(shortcuts | async)?.openShell4 | shortcut}}</span>
      <span *ngIf="i === 4" class="shortcut">{{(shortcuts | async)?.openShell5 | shortcut}}</span>
      <span *ngIf="i === 5" class="shortcut">{{(shortcuts | async)?.openShell6 | shortcut}}</span>
      <span *ngIf="i === 6" class="shortcut">{{(shortcuts | async)?.openShell7 | shortcut}}</span>
      <span *ngIf="i === 7" class="shortcut">{{(shortcuts | async)?.openShell8 | shortcut}}</span>
      <span *ngIf="i === 8" class="shortcut">{{(shortcuts | async)?.openShell9 | shortcut}}</span>
    </li>
    <hr>
    <li (click)="openSettings()" data-keytip="S" data-keytip-depth="2">
      <app-icon name="mdiCog" [color]="'var(--foreground-color-20d)'" class="text-icon"></app-icon>
      Settings
      <span style="flex:1"></span>
      <span class="shortcut">{{(shortcuts | async)?.openSettings | shortcut}}</span>
    </li>
    <hr>
    <li (click)="openReportIssue()" data-keytip="I" data-keytip-depth="2">
      <app-icon name="mdiBug" [color]="'var(--foreground-color-20d)'" class="text-icon"></app-icon>
      Report Issue
    </li>
    <li (click)="openReddit()" data-keytip="R" data-keytip-depth="2">
      <app-icon name="mdiReddit" [color]="'var(--foreground-color-20d)'" class="text-icon"></app-icon>
      Join Us on Reddit
    </li>
    <li (click)="openDonation()" data-keytip="D" data-keytip-depth="2">
      <app-icon name="mdiCardsHeart" [color]="'var(--foreground-color-20d)'" class="text-icon"></app-icon>
      Make a Donation
    </li>
    <hr>
    <li (click)="openReleaseNotes()" data-keytip="N" data-keytip-depth="2">
      <app-icon name="mdiRocketLaunch" [color]="'var(--foreground-color-20d)'" class="text-icon"></app-icon>
      Release Notes
    </li>
    <li (click)="openAbout()" data-keytip="A" data-keytip-depth="2">
      <app-icon name="mdiInformation" [color]="'var(--foreground-color-20d)'"  class="text-icon"></app-icon>
      About
    </li>
  </ul>
</div>
