<div class="container" [ngStyle]="positionStyle | async">
  <ng-container *ngIf="shortcuts | async; let shortcut">
    <ul>
      <li>
        <a tabindex="1" (click)="copy($event)">
          <span>Copy</span>
          <span class="shortcut">{{shortcut.copy | shortcut}}</span>
        </a>
      </li>
      <li>
        <a tabindex="2" (click)="paste($event)">
          <span>Paste</span>
          <span class="shortcut">{{shortcut.paste | shortcut}}</span>
        </a>
      </li>
      <li>
        <a tabindex="3" (click)="showPasteHistory($event)">
          <span>Paste History</span>
          <span class="shortcut">{{shortcut.showPasteHistory | shortcut}}</span>
        </a>
      </li>
      <li>
        <a tabindex="4" (click)="scrollToPreviousBookmark($event)">
          <span>Scroll to Previous Bookmark</span>
          <span class="shortcut">{{shortcut.scrollToPreviousBookmark | shortcut}}</span>
        </a>
      </li>
      <li>
        <a tabindex="5" (click)="scrollToNextBookmark($event)">
          <span>Scroll to Next Bookmark</span>
          <span class="shortcut">{{shortcut.scrollToNextBookmark | shortcut}}</span>
        </a>
      </li>
      <li>
        <a tabindex="4" (click)="scrollToPreviousCommand($event)">
          <span>Scroll to Previous Command</span>
          <span class="shortcut">{{shortcut.scrollToPreviousCommand | shortcut}}</span>
        </a>
      </li>
      <li>
        <a tabindex="5" (click)="scrollToNextCommand($event)">
          <span>Scroll to Next Command</span>
          <span class="shortcut">{{shortcut.scrollToNextCommand | shortcut}}</span>
        </a>
      </li>
      <li>
        <hr>
      </li>
      <li>
        <a tabindex="6" (click)="find($event)">
          <span>Find</span>
          <span class="shortcut">{{shortcut.find | shortcut}}</span>
        </a>
      </li>
      <li>
        <a tabindex="7" (click)="openFileManagerHere($event)">
          <span>Open File Manager here</span>
        </a>
      </li>
      <li>
        <hr>
      </li>
      <li>
        <a tabindex="9" (click)="clearBuffer($event)">
          <span>Clear Buffer</span>
          <span class="shortcut">{{shortcut.clearBuffer | shortcut}}</span>
        </a>
      </li>
    </ul>
  </ng-container>
</div>
