:host {
  display: grid;
  grid-template-rows: 1fr 1.4rem;
  position: relative;
  width: 100%;
  height: 100%;
}

.terminal-container{
  min-height: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
