<div class="container" [ngStyle]="positionStyle | async">
  <ul>
    <li>
      <a tabindex="2" data-keytip="C" data-keytip-depth="2" (click)="copyCommand()">
        <span>Copy Command</span>
      </a>
    </li>
    <li>
      <a tabindex="3" data-keytip="O" data-keytip-depth="2" (click)="copyOutput()">
        <span>Copy Output</span>
      </a>
    </li>
    <hr>
    <li>
      <a tabindex="4" data-keytip="T" data-keytip-depth="2" (click)="scrollToCommandTop()">
        <span>Scroll to Top</span>
      </a>
    </li>
    <li>
      <a tabindex="5" data-keytip="B" data-keytip-depth="2" (click)="scrollToCommandBottom()">
        <span>Scroll to Bottom</span>
      </a>
    </li>
    <hr>
    <li *ngIf="!(isCdCommand | async)">
      <a tabindex="5" data-keytip="S" data-keytip-depth="2" (click)="openCommandSettings()">
        <span>Open in Settings</span>
      </a>
    </li>
    <li>
      <ng-container [ngSwitch]="hasBookmark | async">
        <a *ngSwitchCase="true" tabindex="1" data-keytip="R" data-keytip-depth="2" (click)="removeBookmark()">
          <span>Remove Bookmark</span>
        </a>
        <a *ngSwitchCase="false" tabindex="1" data-keytip="A" data-keytip-depth="2" (click)="addBookmark()">
          <span>Add Bookmark</span>
        </a>
      </ng-container>
    </li>
  </ul>
  <footer>
    @if((returnCode | async) !== undefined) {
      <span>Return Code&nbsp;</span>{{ returnCode | async }}<span>&nbsp;in&nbsp;</span>{{ processTime | async | timespan}}
    }
  </footer>
</div>
