.container {
  position: absolute;
  top: -10000px;
  color: var(--foreground-color-40l);
  background-color: var(--background-color-10l);
  padding: 0;
  line-height: 1.6;
  overflow: hidden;
  z-index: 100;
  box-shadow: var(--shadow1);
  border-radius: 2px;
  font-size: 1rem;
  user-select: none;
  width: 250px;
  animation-duration: 10ms;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      overflow: hidden;
      white-space: nowrap;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        justify-content: space-between;
        padding: 0.3rem 1rem;
        text-decoration: none;
        color: var(--foreground-color-40l);
      }
      a:hover{
        background-color: var(--background-color-30l);
      }
    }
  }

  footer {
    padding: 0 1rem;
    background-color: var(--background-color-30l);
    border-top: 1px solid var(--background-color-40l);
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--foreground-color-20d);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      opacity: 0.5;
    }
  }

  hr {
    margin: 5px;
    border: none;
    border-top: 2px solid var(--background-color-30l);
  }
}
