<ng-container *ngIf="(selectedShell | async) as shell">
  <div class="checkbox-container" (click)="toggleUseAsDefaultShell(); $event.stopPropagation();"
       [ngClass]="{'disabled' : (isLastShell | async) && shell.id}">
    <label>Use as Default Shell</label>
    <input type="checkbox" [checked]="shell.default">
    <span class="checkmark checkbox"></span>
  </div>
  <div class="input-container" (click)="$event.stopPropagation()">
    <label>Name</label>
    <input [ngModel]="shell.name" (input)="changeName($event)">
  </div>
  <div class="select-container">
    <label>Shell</label>
    <select [ngModel]="(selectedShell | async).type" (change)="setShell($event)">
      <option *ngFor="let shell of availableShells | async"
              [ngValue]="shell.type">
        <span>
        {{ shell.name }}
      </span>
      </option>
    </select>
  </div>
  <div class="input-container disabled" (click)="$event.stopPropagation()">
    <label>Path</label>
    <input [ngModel]="shell.path">
  </div>
  <div class="file-input-container">
    <div class="input-container" (click)="$event.stopPropagation()">
      <label>Working Directory</label>
      <input [ngModel]="shell.workingDir" (blur)="changeFilePath($event)"
             (keyup)="changeFilePath($event)">
    </div>
    <button (click)="openFilePathSelection(); $event.stopPropagation();">Browse...</button>
  </div>
  <div class="input-container" (click)="$event.stopPropagation()">
    <label>Comma Separated List of Arguments</label>
    <input [ngModel]="shell.args" (input)="changeArguments($event)">
  </div>
  <div class="card">
    <h2>Script Injection</h2>
    <div class="select-container">
      <label>Type</label>
      <select [ngModel]="(selectedShell | async).injectionType" (change)="setInjectionType($event)">
        <option [value]="'None'">None</option>
        <option [value]="'Manual'">Manual</option>
        <option [value]="'Auto'">Auto</option>
      </select>
      <small>
        Set this option to <b>Auto</b> to automatically inject the script for features like autocompletion and command
        decorations.
        If you prefer manual injection or are using prompt engines like Oh My Posh choose <b>Manual</b>.
        Please refer also to the <a class="external-link inline" (click)="openDocumentation('Shell-Integration', $event)">documentation</a>.
      </small>
    </div>
    <ng-container *ngIf="shell.injectionType === 'Manual'">
      <div>
        <div class="input-container" (click)="$event.stopPropagation()">
          <label>Prompt-Terminator</label>
          <input [ngModel]="shell.promptTerminator" (input)="changePromptTerminator($event)">
        </div>
        <small>
          Please define the last visible constant characters in your prompt (Prompt-Terminator), such as '$', '%', or 'PS>'.
        </small>
        <div class="checkbox-container" (click)="toggleFinalSpace(); $event.stopPropagation();"
             style="margin-top: 0.5rem">
          <label>Final Space</label>
          <input type="checkbox" [checked]="shell.usesFinalSpacePromptTerminator">
          <span class="checkmark checkbox"></span>
        </div>
        <small>
          Activate this if you use a space after your Prompt-Terminator.
        </small>
      </div>
    </ng-container>
    <ng-container *ngIf="shell.injectionType === 'Auto'">
      <div class="checkboxes">
        <div class="checkbox-container" (click)="toggleDebugMode(); $event.stopPropagation();">
          <label>Enable Debug Mode</label>
          <input type="checkbox" [checked]="shell.isDebugModeEnabled">
          <span class="checkmark checkbox"></span>
          <small>
            In debug mode, Cogno's injection script is visible at startup and is not hidden.
          </small>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
