<dialog class="dialog">
  <main>
    <div class="switch-container" *ngIf="showRemoteShellSelection | async">
      <div class="switch" (click)="toggleShowRemoteShellDialog($event)">
        <input type="checkbox" [checked]="showRemoteShellDialog | async">
        <span class="slider"></span>
      </div>
      <label>Remote Shell (Experimental)</label>
    </div>
    <ng-container [ngSwitch]="showRemoteShellDialog | async">
      <app-local *ngSwitchCase="false"></app-local>
      <app-remote *ngSwitchCase="true"></app-remote>
    </ng-container>
  </main>
  <footer>
    <button (click)="closeDialog()">Cancel</button>
    <button class="default" [disabled]="!(isDialogValid | async)" (click)="saveAndCloseDialog()">Save</button>
  </footer>
</dialog>
