:host{
  background-color: rgba(0,0,0,0);
  user-select: none;
}

.background {
  filter: blur(0);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
