<div class="background" [style.backdrop-filter]="imageFilter | async"></div>
<app-grid *ngIf="!(showError | async) && !(showOnboarding | async)"></app-grid>
<app-error *ngIf="showError | async"></app-error>
<app-onboarding *ngIf="showOnboarding | async"></app-onboarding>
<app-notification></app-notification>
