<div class="footer">
  <div class="left" >
    <div *ngIf="(machine$ | async); let machine" class="item" title="{{machine}}">
      <app-icon color="var(--foreground-color)" name="mdiMonitor"></app-icon>
      {{machine}}
    </div>
    <div *ngIf="(user$ | async); let user" class="item" title="{{user}}">
      <app-icon color="var(--foreground-color)" name="mdiAccount"></app-icon>
      {{user}}
    </div>
    <!--TODO: hier git environment einfügen-->
    <!--div class="item" title="{{shell.branch}}" *ngIf="shell.branch">
      <app-icon name="mdiGit"></app-icon>
      {{shell.branch}}
      <app-icon *ngIf="shell.isDirty" name="mdiLiquidSpot" title="Uncommitted Changes"></app-icon>
    </div-->
  </div>
  <div class="space"></div>
  <div class="right">
    <div class="item hover" (click)="toggleShortcutsEnabled()">
      <ng-container [ngSwitch]="(areShortcutsEnabled$ | async)">
        <app-icon color="var(--foreground-color)" *ngSwitchCase="true" title="Cogno Shortcuts Enabled" name="mdiKeyboardOutline"></app-icon>
        <app-icon color="var(--foreground-color)" *ngSwitchCase="false" title="Cogno Shortcuts Disabled" name="mdiKeyboardOffOutline"></app-icon>
      </ng-container>
    </div>
    <div class="item">
      {{(this.shellConfig | async)?.type}}
      <ng-container [ngSwitch]="(isAdvancedFeaturesEnabled$ | async) && !(isPossibleRemoteShell$ | async)">
        <app-icon color="var(--foreground-color)" *ngSwitchCase="false" title="Advanced Features Disabled" name="mdiRobotOff" (click)="injectAdvancedFeatures()"></app-icon>
        <app-icon color="var(--foreground-color)" *ngSwitchCase="true" title="Advanced Features Enabled" name="mdiRobot"></app-icon>
      </ng-container>
    </div>
  </div>
</div>
