<ng-container *ngIf="(selectedShell | async) as shell">
  <div class="input-container" (click)="$event.stopPropagation()">
    <label>Name</label>
    <input [ngModel]="shell.name" (input)="changeName($event)">
  </div>
  <div class="select-container" [ngClass]="{'disabled': shell.id}">
    <label>Host Shell</label>
    <select [ngModel]="shell.type" (change)="setHostShell($event)">
      <option *ngFor="let shell of availableShells | async"
              [ngValue]="shell.type">
        <span>
        {{ shell.name }}
      </span>
      </option>
    </select>
  </div>
  <div class="input-container disabled" (click)="$event.stopPropagation()">
    <label>Path</label>
    <input [ngModel]="shell.path">
  </div>
  <div class="input-container" (click)="$event.stopPropagation()">
    <label>Comma Separated List of Arguments</label>
    <input [ngModel]="shell.args" (input)="changeArguments($event)">
  </div>
  <div class="select-container" [ngClass]="{'disabled': shell.id}">
    <label>Remote Shell</label>
    <select [ngModel]="shell.remoteType" (change)="setRemoteShell($event)">
      <option *ngFor="let shell of shellTypes"
              [value]="shell">
        <span>
        {{ shell }}
      </span>
      </option>
    </select>
  </div>
  <div class="input-container" (click)="$event.stopPropagation()">
    <label>Connection Command</label>
    <input [ngModel]="shell.remoteCommand" (input)="changeRemoteCommand($event)">
  </div>
  <div class="card">
    <h2>Script Injection</h2>
    <ng-container *ngIf="shell.injectionType === 'Remote'">
      <p>
        To enable autocomplete in an SSH session or Docker container in Cogno, a small script needs to be injected automatically. This is done using a special OSC code.
        Please also read the <a class="external-link inline" (click)="openDocumentation('Remote-Connections-(Experimental-Feature)')">Documentation</a>.
      </p>
      <div class="description">
        <h3>For SSH:</h3>
        <p>Add this to your SSH command:</p>
        <code>-t 'echo -e "\033]733;COGNO:INJECT\007"; bash -i;'</code>
        <p>A full example:</p>
        <code>ssh user&#64;host -t 'echo -e "\033]733;COGNO:INJECT\007"; bash -i;'</code>
        <h3>For Docker:</h3>
        <p>Add this to your docker command:</p>
        <code>-c 'echo "\033]733;COGNO:INJECT\007"; bash -i'</code>
        <p>A full example:</p>
        <code>docker run -it ubuntu bash -c 'echo "\033]733;COGNO:INJECT\007"; bash -i'</code>
      </div>

      <div class="checkboxes">
        <div class="checkbox-container" (click)="toggleDebugMode(); $event.stopPropagation();">
          <label>Enable Debug Mode</label>
          <input type="checkbox" [checked]="shell.isDebugModeEnabled">
          <span class="checkmark checkbox"></span>
          <small>
            In debug mode, Cogno's injection script is visible at startup and is not hidden.
          </small>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
