<div class="space-top"></div>
<app-grid-pane [node]="(tree | async)?.root"></app-grid-pane>
<app-paste-history-menu></app-paste-history-menu>
<app-actions></app-actions>
<app-workspaces-menu></app-workspaces-menu>
<app-window-buttons></app-window-buttons>
<app-tab-context-menu></app-tab-context-menu>
<app-titlebar-menu></app-titlebar-menu>
<app-autocomplete></app-autocomplete>
<div class="tab-container">
  <div class="tap-content" *ngFor="let tab of (tabs | async); trackBy:trackByFn" [ngSwitch]="tab.tabType" [id]="tab?.id">
    <app-terminal data-keytip-container class="content" *ngSwitchCase="TabType.Terminal" [tabId]="tab?.id"
                  [ngClass]="{'active': tab?.isSelected, 'inactive': !tab?.isSelected}">
    </app-terminal>
    <app-about class="content" *ngSwitchCase="TabType.About" [tabId]="tab?.id"
               [ngClass]="{'active': tab?.isSelected, 'inactive': !tab?.isSelected}">
    </app-about>
    <app-settings class="content" *ngSwitchCase="TabType.Settings" [tabId]="tab?.id"
                  [ngClass]="{'active': tab?.isSelected, 'inactive': !tab?.isSelected}">
    </app-settings>
    <app-release-notes class="content" *ngSwitchCase="TabType.ReleaseNotes" [tabId]="tab?.id"
                       [ngClass]="{'active': tab?.isSelected, 'inactive': !tab?.isSelected}">
    </app-release-notes>
  </div>
</div>
