app-grid {
  --space-top: 8px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  .vertical {
    flex-direction: row;
    > .splitter {
      height: 100%;
      width: 4px;
      cursor: e-resize;
    }
  }

  .horizontal {
    flex-direction: column;
    > .splitter {
      width: 100%;
      height: 4px;
      cursor: n-resize;
    }
  }

  .splitter {
    background-color: var(--background-color-30l);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 4px;
    padding:0;
    margin:0;
    &:hover {
      background-color: var(--background-color-40l);
    }
  }

  .space-top {
    height: var(--space-top);
    width: 100vw;
    background-color: var(--background-color-20l);
    -webkit-app-region: drag;
  }

  app-window-buttons {
    position: absolute;
    right: 0;
    top: 0;
  }

  .tab-container {
    position: fixed;
    top: -1000000px;
    .tap-content {
      position: fixed;
      display: flex;
      .content {
        flex: 1;
      }
    }
  }
}
