@if ((data | async); as data) {
  @if (data.entry?.command?.command) {
    <div class="container" *ngIf="data?.entry?.command?.status?.isRunning === false">
        <div class="bubble" [class]="data.className"></div>
        <div class="line" [class]="data.className"></div>
        <div class="blur" >
          <p class="command">{{ data.entry.command.command}}</p>
        </div>
    </div>
    <app-icon *ngIf="!!data.entry.bookmarkDecoration" class="command-bookmark" name="mdiBookmark"></app-icon>
    <app-icon class="command-menu" name="mdiDotsVertical" (click)="commandClicked(data.entry, $event)" data-keytip="1" data-keytip-parent></app-icon>
  }
}
