.ballContainer {
  position:relative;
}
.ballContainer div {
  height:5px;
  width:5px;
  border-radius:50%;
  float:left;
  margin:0 3px;
  background: var(--foreground-color);
}
.ballContainer .ball1 {
  z-index:1;
  animation: bounce 0.8s infinite ease-in-out;
}
.ballContainer .ball2 {
  animation: bounce 0.8s infinite ease-in-out;
  animation-delay: 0.1s;
}
.ballContainer .ball3 {
  animation: bounce 0.8s infinite ease-in-out;
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,20% {transform: translate(0,0);}
  50% {transform: translate(0,-10px); background-color: var(--highlight-color);}
  80%, 100% {transform: translate(0,0);}
}
