<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400"
     viewBox="0, 0, 400,400">
  <circle cx="200" cy="200" r="190" stroke="black" stroke-width="1" fill="none" [ngStyle]="circleColorStyle"/>
  <path [ngStyle]="pathColorStyle" d="
M300 95
C 292 98,287 110,285 131
C 283 145,283 260,285 272
C 294 321,313 311,318 256
C 326 173,316 88,299 95.5
M97 114
C 91 116,78 129,70.174 141
C 40 184,46 237,84.368 274
C 95 285,97 286,108 286
C 132 286,168 270,211 239
C 220 232,249 208,250 205
C 254 200,252 193,245 188
C 243 186,239 183,236 180
C 194 140,121 105,97 114
M130 148
C 136 150,170 166,188 180
C 191 182,196 186,199 189
C 210 197,209 201,196 212
C 163 239,129 256,113 252
C 109 251,98 240,94 233
C 78 208,83 173,104 153
C 112 146,118 145,130 148 " stroke="none" fill="black" fill-rule="evenodd">
  </path>
</svg>
