app-general {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--foreground-color);
  background-color: var(--background-color);
  flex: 1;
  overflow: hidden;
  position: relative;
  main {
    display: grid;
    overflow: auto;
  }

  ul {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;

    .shell {
      position: relative;
      cursor: auto;
      white-space: nowrap;
      gap: 1rem;
      padding: 1rem;
      border-radius: 2px;
      background-color: var(--background-color-10l);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      app-icon {
        height: 1.4rem;
        width: 1.4rem;

        &::ng-deep svg {
          fill: var(--foreground-color);
          height: 20px;
          width: 20px;
        }
      }

      header {
        display: flex;
        width: 100%;
        gap: 0.2rem;
        font-size: larger;
        flex-direction: row;
        align-items: center;

        .space {
          flex: 1;
        }

        app-copy-edit-delete {
          button {
            /*cursor: pointer;*/
            opacity: 0.7;
            position: relative;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            outline: none;
            justify-content: center;
            align-items: center;
            padding: 0;
            font-size: 0.9rem;
            border-radius: 50%;
            margin: 0 0 0 0.5rem;
            height: 1.2rem;
            color: var(--foreground-color-40d);

            &:hover {
              opacity: 1;
            }

            app-icon {
              fill: var(--foreground-color-20d);
              height: 1.2rem;
              width: 1.2rem;
            }
          }
        }

        .badge {
          margin-left: 0.8rem;;
          background-color: var(--highlight-color);
          color: var(--background-color);
        }
      }

      section {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;;

        input {
          min-width: 20rem;
        }
      }

      .buttons {
        opacity: 0.2;
      }

      &:hover {
        .buttons {
          opacity: 1;
        }
      }
    }

    button.add{
      border-radius: 50%;
      background-color: var(--background-color-20l);
      border: none;
      outline: none;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      app-icon {
        fill: var(--foreground-color);
        height: 1.4rem;
        width: 1.4rem;
      }

      &:hover {
        background-color: var(--background-color-30l);
      }
    }
  }
}
