
.btn {
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: 100;
  border: none;
  background-color: var(--background-color-20l);
  color: var(--foreground-color);
  /*cursor: pointer;*/
  outline: none;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;

  app-icon {
    height: 16px;
    width: 16px;
    &::ng-deep svg {
      fill: var(--foreground-color);
      height: 16px;
      width: 16px;
    }
  }

  &:hover {
    background-color: var(--background-color-30l);
  }
}

