<div *ngIf="isVisible | async" class="container">
  <div class="notification-container">
    <ng-container *ngFor="let notification of notificationsTop | async">
      <ng-container [ngTemplateOutlet]="notificationTemplate" [ngTemplateOutletContext]="{value : notification}">
      </ng-container>
    </ng-container>
    <div class="space"></div>
    <ng-container *ngFor="let notification of notificationsBottom | async">
      <ng-container [ngTemplateOutlet]="notificationTemplate" [ngTemplateOutletContext]="{value : notification}">
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #notificationTemplate let-notification='value'>
  <div *ngIf="notification" class="notification animated duration-100ms {{notification.place}}"
       [ngClass]="{
       'success': notification.type === NotificationType.Success || notification.type === NotificationType.Update,
       'warning': notification.type === NotificationType.Warning,
       'error': notification.type === NotificationType.Error,
       'fadeInUp': notification.place === 'bottom',
       'fadeInDown': notification.place === 'top'
       }"
  >
    <main>
      <app-icon class="icon" name="mdiRocketLaunch" *ngIf="notification.type === NotificationType.Update"></app-icon>
      <app-icon class="icon" name="mdiThumbUp" *ngIf="notification.type === NotificationType.Success"></app-icon>
      <app-icon class="icon" name="mdiBomb" *ngIf="notification.type === NotificationType.Warning"></app-icon>
      <app-icon class="icon" name="mdiNuke" *ngIf="notification.type === NotificationType.Error"></app-icon>
      <div class="content-container">
        <h1>{{notification.title}}</h1>
        <ul>
          <li *ngFor="let description of notification.body">{{description}}</li>
        </ul>
        <div class="footer" *ngIf="notification.footer">
          <ul>
            <li *ngFor="let description of notification.footer">{{description}}</li>
          </ul>
        </div>
      </div>
    </main>
    <footer *ngIf="notification.cancel || notification.confirm">
      <button class="btn normal" *ngIf="notification.cancel" [ngClass]="{'default': notification.switchDefault}"
              (click)="cancel(notification)">{{notification.cancel}}</button>
      <button class="btn normal" [ngClass]="{'default': !notification.switchDefault}"
              (click)="confirm(notification)">{{notification.confirm}}</button>
    </footer>
    <button class="btn close" (click)="close(notification)">
      <app-icon name="mdiClose"></app-icon>
    </button>
  </div>
</ng-template>
