:host{
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 0;
  position: relative;
}

.content-container{
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  .error{
    align-self: center;
  }
}

.header-container {
  height: 2.2rem;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  transition: margin-top 0.5s ease;
  margin-top: 0;

  .mac-title-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-20l);
    height: 2.2rem;
    min-width: 62px;
  }

  .space-left {
    background-color: var(--background-color-20l);
    min-width: 8px;
  }

  .space {
    background-color: var(--background-color-20l);
    display: flex;
    flex-direction: column;
    min-width: 40px;

    .resize{
      height: 2px;
      width: 100%;
    }

    .drag-window {
      -webkit-app-region: drag;
      height: calc(2.2rem - 2px);
      width: 100%;
    }

    .drop-zone {
      height: calc(2.2rem - 2px);
      width: 100%;
    }

    &.large {
      min-width: 260px;
    }

    &.large.mac {
      min-width: 140px;
    }

    flex-grow: 1;
  }
}

app-icon ::ng-deep svg{
  fill: var(--foreground-color-20d);
}

.tabs {
  position: relative;
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 4.4rem;
    height: 3px;
    background-color: var(--background-color-20l);
  }
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  min-width: 0;
  .tab {
    position: relative;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0.3rem 0 0.7rem;
    cursor: default;
    border-top: 3px solid rgba(0,0,0,0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: var(--background-color-20l);
    color: var(--foreground-color-20d);
    display: flex;
    max-width: 18rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .no-pointer-event {
      pointer-events: none;
    }

    &.drop {
      opacity: 0.5;
    }

    &:before {
      position: absolute;
      content: '';
      height: 1.8rem;
      width: 0;
      border-left: 1px solid var(--foreground-color-40d);
      left: 0;
      bottom: 2px;
    }

    &.first:before {
      border-left: none;
    }

    &.last:after {
      position: absolute;
      content: '';
      height: 1.8rem;
      width: 0;
      border-left: 1px solid var(--foreground-color-40d);
      right: 0;
      bottom: 2px;
    }

    &.selected {
      background-color: #00000000;
      border-color: var(--background-color-30l);
      color: var(--highlight-color-20d);
      app-icon ::ng-deep svg{
        fill: var(--highlight-color-20d);
      }
      &:before {
        border-left: none;
      }
      &:after {
        border-left: none;
      }
      +.tab {
        &:before {
          border-left: none;
        }
      }
    }

    &.active {
      border-color: var(--highlight-color-20d);
    }
    &:hover {
      background-color: var(--background-color-30l);
    }

    .name{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.reverse-ellipses {
        /* Ellipses at beginning of string*/
        direction: rtl;
        text-align: left;
      }
      small {
        font-size: 1rem;
        opacity: 0.7;
      }

      &:after {
        content: "\200E‎";
      }

      &:before {
        content: "\200E‎";
      }
    }

    .item-space {
      flex-grow: 1;
      min-width: 5px;
    }
  }
}

button {
  border: none;
  border-radius: 50%;
  color: var(--foreground-color);
  /*cursor: pointer;*/
  outline:none;
  background-color: rgba(0,0,0,0);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  app-icon {
    height: 1.1rem;
    width: 1.1rem;
  }
  &:hover {
    background-color: var(--background-color-40l);
  }
  &.add{
    width: 2.2rem;
    height: 2.2rem;
  }
  &.close {
    margin: 0;
    padding: 0.05rem;
    &:hover {
      .mdi:before{
        content: "\F0156" !important;
        animation: none;
      }
    }
  }
}



.tab-content {
  position: relative;
  flex-grow: 1;
  .content {
    position: fixed;
    &.active{
      opacity: 1;
      z-index: 1;
    }
    &.inactive{
      opacity: 0;
      z-index: 0;
    }
  }
}

.addButton {
  background-color: var(--background-color-20l);
  //box-shadow: -2px 0 var(--background-color-10l), 2px 0 var(--background-color-10l), var(--shadow1);
  width: 2.2rem;
  padding-left: 1px;
  padding-right: 2px;
}

.titleBarMenuButton {
  position: relative;
  background-color: var(--background-color-20l);
  width: 30px;
  app-titlebar-menu {
    z-index: 100;
    position: absolute;
    top: 2.5em;
    left: -8em;
  }
}

.text-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 5px;
  position: relative;
}
