app-commands {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: var(--foreground-color);
  background-color: var(--background-color);
  flex: 1;
  overflow: hidden;
  position: relative;

  app-copy-edit-delete {
    button {
      /*cursor: pointer;*/
      opacity: 0.7;
      position: relative;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      outline: none;
      justify-content: center;
      align-items: center;
      padding: 0;
      font-size: 0.9rem;
      margin: 0 0 0 0.5rem;
      height: 1.2rem !important;
      width: 1.2rem !important;
      color: var(--foreground-color-40d);

      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
      }

      app-icon {
        fill: var(--foreground-color-20d);
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    gap: 1rem;

    .addButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      button.add{
        border-radius: 50%;
        background-color: var(--background-color-20l);
        border: none;
        outline: none;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        app-icon {
          fill: var(--foreground-color);
          height: 1.4rem;
          width: 1.4rem;
        }

        &:hover {
          background-color: var(--background-color-30l);
        }
      }
    }
  }

  .filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1.5rem;
    gap: 1rem;
    .search {
      flex: 1;
    }
  }

  .table {
    margin: 0 1.5rem;
    flex: 1;
  }

  .card {
    height: 30%;
    flex-wrap: nowrap;

    app-parameter-table{
      overflow: auto;
      flex: 1;
    }

    .buttons button{
      width: 7rem;
    }
  }



  .tabulator {
    position: relative;
    border: 1px solid var(--background-color);
    background-color: var(--foreground-color);
    text-align: left;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }

  .tabulator[tabulator-layout="fitDataFill"] .tabulator-tableholder .tabulator-table {
    min-width: 100%;
  }

  .tabulator[tabulator-layout="fitDataTable"] {
    display: inline-block;
  }

  .tabulator.tabulator-block-select {
    user-select: none;
  }

  .tabulator.tabulator-ranges .tabulator-cell:not(.tabulator-editing) {
    user-select: none;
  }

  .tabulator .tabulator-header {
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid var(background-color-40l);
    background-color: var(--background-color-10l);
    color: var(--foreground-color-40d);
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    outline: none;
  }

  .tabulator .tabulator-header.tabulator-header-hidden {
    display: none;
  }

  .tabulator .tabulator-header .tabulator-header-contents {
    position: relative;
    overflow: hidden;
  }

  .tabulator .tabulator-header .tabulator-header-contents .tabulator-headers {
    display: inline-block;
  }

  .tabulator .tabulator-header .tabulator-col {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid var(--background-color);
    background: var(--background-color);
    text-align: left;
    vertical-align: bottom;
    overflow: hidden;
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-moving {
    position: absolute;
    border: 1px solid var(--highlight-color);
    background: var(--background-color);
    pointer-events: none;
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-range-highlight {
    background-color: var(--highlight-color);
    color: var(--background-color);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-range-selected {
    background-color: var(--highlight-color);
    color: var(--background-color);
    svg {
      fill: var(--background-color);
    }
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    box-sizing: border-box;
    position: relative;
    padding: 4px;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-header-popup-button {
    padding: 0 8px;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-header-popup-button:hover {
    cursor: pointer;
    opacity: .6;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title-holder {
    position: relative;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title.tabulator-col-title-wrap {
    white-space: normal;
    text-overflow: initial;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-title-editor {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--background-color-40l);
    padding: 1px;
    background: var(--foreground-color);
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-header-popup-button + .tabulator-title-editor {
    width: calc(100% - 22px);
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--background-color-40l);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
    position: relative;
    display: flex;
    border-top: 1px solid var(--background-color-40l);
    overflow: hidden;
    margin-right: -1px;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-header-filter {
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    text-align: center;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-header-filter textarea {
    height: auto !important;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-header-filter svg {
    margin-top: 3px;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-header-filter input::-ms-clear {
    width: 0;
    height: 0;
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
    padding-right: 25px;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
      cursor: pointer;
      background-color: var(--background-color);
    }
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter {
    color: var(--background-color-40l);
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
      cursor: pointer;
      border-bottom: 6px solid var(--background-color-30l);
    }
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    border-top: none;
    border-bottom: 6px solid var(--background-color-40l);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="ascending"] .tabulator-col-content .tabulator-col-sorter {
    color: var(--highlight-color);
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="ascending"] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
      cursor: pointer;
      border-bottom: 6px solid var(--background-color-30l);
    }
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="ascending"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    border-top: none;
    border-bottom: 6px solid var(--highlight-color);
    color: var(--highlight-color);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="descending"] .tabulator-col-content .tabulator-col-sorter {
    color: var(--highlight-color);
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="descending"] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
      cursor: pointer;
      border-top: 6px solid var(--background-color-30l);
    }
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="descending"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    border-bottom: none;
    border-top: 6px solid var(--highlight-color);
    color: var(--highlight-color);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-col-vertical .tabulator-col-content .tabulator-col-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-col-vertical-flip .tabulator-col-title {
    transform: rotate(180deg);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable .tabulator-col-title {
    padding-right: 0;
    padding-top: 20px;
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable.tabulator-col-vertical-flip .tabulator-col-title {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable .tabulator-col-sorter {
    justify-content: center;
    left: 0;
    right: 0;
    top: 4px;
    bottom: auto;
  }

  .tabulator .tabulator-header .tabulator-frozen {
    position: sticky;
    left: 0;
    z-index: 11;
  }

  .tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
    border-right: 2px solid var(--background-color-40l);
  }

  .tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-right {
    border-left: 2px solid var(--background-color-40l);
  }

  .tabulator .tabulator-header .tabulator-calcs-holder {
    box-sizing: border-box;
    display: inline-block;
    background: var(--background-color) !important;
    border-top: 1px solid var(--background-color-40l);
    border-bottom: 1px solid var(--background-color-40l);
  }

  .tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row {
    background: var(--background-color) !important;
  }

  .tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
    display: none;
  }

  .tabulator .tabulator-header .tabulator-frozen-rows-holder {
    display: inline-block;
  }

  .tabulator .tabulator-header .tabulator-frozen-rows-holder:empty {
    display: none;
  }

  .tabulator .tabulator-tableholder {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .tabulator .tabulator-tableholder:focus {
    outline: none;
  }

  .tabulator .tabulator-tableholder .tabulator-placeholder {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    width: 100%;
  }

  .tabulator .tabulator-tableholder .tabulator-placeholder[tabulator-render-mode="virtual"] {
    min-height: 100%;
  }

  .tabulator .tabulator-tableholder .tabulator-placeholder .tabulator-placeholder-contents {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: var(--background-color-40l);
    font-weight: bold;
    font-size: 20px;
    white-space: normal;
  }

  .tabulator .tabulator-tableholder .tabulator-table {
    position: relative;
    display: inline-block;
    background-color: var(--foreground-color);
    white-space: nowrap;
    overflow: visible;
    color: var(--background-color);
  }

  .tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs {
    font-weight: bold;
    background: var(--background-color-40l) !important;
  }

  .tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-top {
    border-bottom: 2px solid var(--background-color-40l);
  }

  .tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-bottom {
    border-top: 2px solid var(--background-color-40l);
  }

  .tabulator .tabulator-tableholder .tabulator-range-overlay {
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none;
  }

  .tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid var(--highlight-color);
  }

  .tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range.tabulator-range-active::after {
    content: '';
    position: absolute;
    right: -3px;
    bottom: -3px;
    width: 6px;
    height: 6px;
    background-color: var(--highlight-color);
    border-radius: 999px;
  }

  .tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range-cell-active {
    position: absolute;
    box-sizing: border-box;
    border: 2px solid var(--highlight-color);
  }

  .tabulator .tabulator-footer {
    border-top: 1px solid var(--highlight-color);
    background-color: var(--background-color);
    color: var(--background-color);
    font-weight: bold;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .tabulator .tabulator-footer .tabulator-footer-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .tabulator .tabulator-footer .tabulator-footer-contents:empty {
    display: none;
  }

  .tabulator .tabulator-footer .tabulator-spreadsheet-tabs {
    margin-top: -5px;
    overflow-x: auto;
  }

  .tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab {
    display: inline-block;
    padding: 5px;
    border: var(--background-color) 1px solid;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: .9em;
  }

  .tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab:hover {
    cursor: pointer;
    opacity: .7;
  }

  .tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab.tabulator-spreadsheet-tab-active {
    background: var(--foreground-color);
  }

  .tabulator .tabulator-footer .tabulator-calcs-holder {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    background: var(--background-color) !important;
    border-bottom: 1px solid var(--background-color-40l);
    border-top: 1px solid var(--background-color-40l);
    overflow: hidden;
  }

  .tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row {
    display: inline-block;
    background: var(--background-color) !important;
  }

  .tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
    display: none;
  }

  .tabulator .tabulator-footer .tabulator-calcs-holder:only-child {
    margin-bottom: -5px;
    border-bottom: none;
  }

  .tabulator .tabulator-footer > * + .tabulator-page-counter {
    margin-left: 10px;
  }

  .tabulator .tabulator-footer .tabulator-page-counter {
    font-weight: normal;
  }

  .tabulator .tabulator-footer .tabulator-paginator {
    flex: 1;
    text-align: right;
    color: var(--background-color);
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  .tabulator .tabulator-footer .tabulator-page-size {
    display: inline-block;
    margin: 0 5px;
    padding: 2px 5px;
    border: 1px solid var(--background-color-40l);
    border-radius: 3px;
  }

  .tabulator .tabulator-footer .tabulator-pages {
    margin: 0 7px;
  }

  .tabulator .tabulator-footer .tabulator-page {
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid var(--background-color-40l);
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
  }

  .tabulator .tabulator-footer .tabulator-page.active {
    color: var(--highlight-color);
  }

  .tabulator .tabulator-footer .tabulator-page:disabled {
    opacity: .5;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator .tabulator-footer .tabulator-page:not(disabled):hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2);
      color: var(--foreground-color);
    }
  }

  .tabulator .tabulator-col-resize-handle {
    position: relative;
    display: inline-block;
    width: 6px;
    margin-left: -3px;
    margin-right: -3px;
    z-index: 11;
    vertical-align: middle;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator .tabulator-col-resize-handle:hover {
      cursor: ew-resize;
    }
  }

  .tabulator .tabulator-col-resize-handle:last-of-type {
    width: 3px;
    margin-right: 0;
  }

  .tabulator .tabulator-col-resize-guide {
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    margin-left: -0.5px;
    background-color: var(--background-color-40l);
    opacity: .5;
  }

  .tabulator .tabulator-row-resize-guide {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -0.5px;
    background-color: var(--background-color-40l);
    opacity: .5;
  }

  .tabulator .tabulator-alert {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .tabulator .tabulator-alert .tabulator-alert-msg {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--foreground-color);
    font-weight: bold;
    font-size: 16px;
  }

  .tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-msg {
    border: 4px solid var(--background-color);
    color: var(--background-color);
  }

  .tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-error {
    border: 4px solid var(--color-red);
    color: #590000;
  }

  .tabulator-row {
    position: relative;
    box-sizing: border-box;
    min-height: 22px;
    background-color: var(--foreground-color);
  }

  .tabulator-row.tabulator-row-even {
    background-color: var(--foreground-color-10l);
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-row.tabulator-selectable:hover {
      background-color: var(--background-color-20l);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-row.tabulator-selected:hover {
      background-color: var(--highlight-color);
    }
  }

  .tabulator-row.tabulator-row-moving {
    border: 1px solid var(--background-color);
    background: var(--foreground-color);
  }

  .tabulator-row.tabulator-moving {
    position: absolute;
    border-top: 1px solid var(--background-color-40l);
    border-bottom: 1px solid var(--background-color-40l);
    pointer-events: none;
    z-index: 15;
  }

  .tabulator-row.tabulator-range-highlight .tabulator-cell.tabulator-range-row-header {
    background-color: var(--highlight-color);
    color: var(--background-color);
  }

  .tabulator-row.tabulator-range-highlight.tabulator-range-selected .tabulator-cell.tabulator-range-row-header {
    background-color: var(--highlight-color);
    color: var(--foreground-color);
    svg {
      fill: var(--foreground-color);
    }
  }

  .tabulator-row.tabulator-range-selected .tabulator-cell.tabulator-range-row-header {
    background-color: var(--highlight-color);
    color: var(--foreground-color);
    svg {
      fill: var(--foreground-color);
    }
  }

  .tabulator-row .tabulator-row-resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
  }

  .tabulator-row .tabulator-row-resize-handle.prev {
    top: 0;
    bottom: auto;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-row .tabulator-row-resize-handle:hover {
      cursor: ns-resize;
    }
  }

  .tabulator-row .tabulator-responsive-collapse {
    box-sizing: border-box;
    padding: 5px;
    border-top: 1px solid var(--background-color-40l);
    border-bottom: 1px solid var(--background-color-40l);
  }

  .tabulator-row .tabulator-responsive-collapse:empty {
    display: none;
  }

  .tabulator-row .tabulator-responsive-collapse table {
    font-size: 14px;
  }

  .tabulator-row .tabulator-responsive-collapse table tr td {
    position: relative;
  }

  .tabulator-row .tabulator-responsive-collapse table tr td:first-of-type {
    padding-right: 10px;
  }

  .tabulator-row .tabulator-cell {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    border-right: 1px solid var(--background-color-40l);
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
  }

  .tabulator-row .tabulator-cell.tabulator-row-header {
    border-right: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color-40l);
    background: var(--background-color);
  }

  .tabulator-row .tabulator-cell.tabulator-frozen {
    display: inline-block;
    position: sticky;
    left: 0;
    background-color: inherit;
    z-index: 11;
  }

  .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
    border-right: 2px solid var(--background-color-40l);
  }

  .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-right {
    border-left: 2px solid var(--background-color-40l);
  }

  .tabulator-row .tabulator-cell.tabulator-editing {
    border: 1px solid var(--color-blue);
    outline: none;
    padding: 0;
  }

  .tabulator-row .tabulator-cell.tabulator-editing input,
  .tabulator-row .tabulator-cell.tabulator-editing select {
    border: 1px;
    background: transparent;
    outline: none;
  }

  .tabulator-row .tabulator-cell.tabulator-validation-fail {
    border: 1px solid var(--color-red);
  }

  .tabulator-row .tabulator-cell.tabulator-validation-fail input,
  .tabulator-row .tabulator-cell.tabulator-validation-fail select {
    border: 1px;
    background: transparent;
    color: var(--color-red);
  }

  .tabulator-row .tabulator-cell.tabulator-row-handle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box {
    width: 80%;
  }

  .tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
    width: 100%;
    height: 3px;
    margin-top: 2px;
    background: #666;
  }

  .tabulator-row .tabulator-cell.tabulator-range-selected:not(.tabulator-range-only-cell-selected):not(.tabulator-range-row-header) {
    background-color: var(--highlight-color);
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-branch-empty {
    display: inline-block;
    width: 7px;
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-branch {
    display: inline-block;
    vertical-align: middle;
    height: 9px;
    width: 7px;
    margin-top: -9px;
    margin-right: 5px;
    border-bottom-left-radius: 1px;
    border-left: 2px solid var(--background-color-40l);
    border-bottom: 2px solid var(--background-color-40l);
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 11px;
    width: 11px;
    margin-right: 5px;
    border: 1px solid var(--background-color);
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-row .tabulator-cell .tabulator-data-tree-control:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse {
    display: inline-block;
    position: relative;
    height: 7px;
    width: 1px;
    background: transparent;
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 3px;
    height: 1px;
    width: 7px;
    background: var(--background-color);
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand {
    display: inline-block;
    position: relative;
    height: 7px;
    width: 1px;
    background: var(--background-color);
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 3px;
    height: 1px;
    width: 7px;
    background: var(--background-color);
  }

  .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #666;
    color: var(--foreground-color);
    font-weight: bold;
    font-size: 1.1em;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle:hover {
      opacity: .7;
      cursor: pointer;
    }
  }

  .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-close {
    display: initial;
  }

  .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-open {
    display: none;
  }

  .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle svg {
    stroke: var(--foreground-color);
  }

  .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle .tabulator-responsive-collapse-toggle-close {
    display: none;
  }

  .tabulator-row .tabulator-cell .tabulator-traffic-light {
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 14px;
  }

  .tabulator-row.tabulator-group {
    box-sizing: border-box;
    border-bottom: 1px solid var(--background-color-40l);
    border-right: 1px solid var(--background-color-40l);
    border-top: 1px solid var(--background-color-40l);
    padding: 5px;
    padding-left: 10px;
    background: var(--background-color-40l);
    min-width: 100%;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-row.tabulator-group:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
    margin-right: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--highlight-color);
    border-bottom: 0;
  }

  .tabulator-row.tabulator-group.tabulator-group-level-1 {
    padding-left: 30px;
  }

  .tabulator-row.tabulator-group.tabulator-group-level-2 {
    padding-left: 50px;
  }

  .tabulator-row.tabulator-group.tabulator-group-level-3 {
    padding-left: 70px;
  }

  .tabulator-row.tabulator-group.tabulator-group-level-4 {
    padding-left: 90px;
  }

  .tabulator-row.tabulator-group.tabulator-group-level-5 {
    padding-left: 110px;
  }

  .tabulator-row.tabulator-group .tabulator-group-toggle {
    display: inline-block;
  }

  .tabulator-row.tabulator-group .tabulator-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 16px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 0;
    border-left: 6px solid var(--highlight-color);
    vertical-align: middle;
  }

  .tabulator-row.tabulator-group span {
    margin-left: 10px;
    color: var(--color-red);
  }

  .tabulator-toggle {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--background-color-40l);
    background: var(--foreground-color);
  }

  .tabulator-toggle.tabulator-toggle-on {
    background: var(--color-blue);
  }

  .tabulator-toggle .tabulator-toggle-switch {
    box-sizing: border-box;
    border: 1px solid var(--background-color-40l);
    background: var(--foreground-color);
  }

  .tabulator-popup-container {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background: var(--foreground-color);
    border: 1px solid var(--background-color-40l);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
  }

  .tabulator-popup {
    padding: 5px;
    border-radius: 3px;
  }

  .tabulator-tooltip {
    max-width: Min(500px, 100%);
    padding: 3px 5px;
    border-radius: 2px;
    box-shadow: none;
    font-size: 12px;
    pointer-events: none;
  }

  .tabulator-menu .tabulator-menu-item {
    position: relative;
    box-sizing: border-box;
    padding: 5px 10px;
    user-select: none;
  }

  .tabulator-menu .tabulator-menu-item.tabulator-menu-item-disabled {
    opacity: .5;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-menu .tabulator-menu-item:not(.tabulator-menu-item-disabled):hover {
      cursor: pointer;
      background: var(--foreground-color-40d);
    }
  }

  .tabulator-menu .tabulator-menu-item.tabulator-menu-item-submenu {
    padding-right: 25px;
  }

  .tabulator-menu .tabulator-menu-item.tabulator-menu-item-submenu::after {
    display: inline-block;
    position: absolute;
    top: calc(5px + .4em);
    right: 10px;
    height: 7px;
    width: 7px;
    content: '';
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: var(--background-color-40l);
    vertical-align: top;
    transform: rotate(45deg);
  }

  .tabulator-menu .tabulator-menu-separator {
    border-top: 1px solid var(--background-color-40l);
  }

  .tabulator-edit-list {
    max-height: 200px;
    font-size: 14px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .tabulator-edit-list .tabulator-edit-list-item {
    padding: 4px;
    color: var(--background-color);
    outline: none;
  }

  .tabulator-edit-list .tabulator-edit-list-item.active {
    color: var(--foreground-color);
    background: var(--color-blue);
  }

  .tabulator-edit-list .tabulator-edit-list-item.active.focused {
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }

  .tabulator-edit-list .tabulator-edit-list-item.focused {
    outline: 1px solid var(--color-blue);
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-edit-list .tabulator-edit-list-item:hover {
      cursor: pointer;
      color: var(--foreground-color);
      background: var(--color-blue);
    }
  }

  .tabulator-edit-list .tabulator-edit-list-placeholder {
    padding: 4px;
    color: var(--background-color);
    text-align: center;
  }

  .tabulator-edit-list .tabulator-edit-list-group {
    border-bottom: 1px solid var(--background-color-40l);
    padding: 4px;
    padding-top: 6px;
    color: var(--background-color);
    font-weight: bold;
  }

  .tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-2,
  .tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-2 {
    padding-left: 12px;
  }

  .tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-3,
  .tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-3 {
    padding-left: 20px;
  }

  .tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-4,
  .tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-4 {
    padding-left: 28px;
  }

  .tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-5,
  .tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-5 {
    padding-left: 36px;
  }

  .tabulator.tabulator-ltr {
    direction: ltr;
  }

  .tabulator.tabulator-rtl {
    text-align: initial;
    direction: rtl;
  }

  .tabulator.tabulator-rtl .tabulator-header .tabulator-col {
    text-align: initial;
    border-left: 1px solid var(--background-color-40l);
    border-right: initial;
  }

  .tabulator.tabulator-rtl .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
    margin-right: initial;
    margin-left: -1px;
  }

  .tabulator.tabulator-rtl .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
    padding-right: 0;
    padding-left: 25px;
  }

  .tabulator.tabulator-rtl .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter {
    left: 8px;
    right: initial;
  }

  .tabulator.tabulator-rtl .tabulator-tableholder .tabulator-range-overlay .tabulator-range.tabulator-range-active::after {
    content: '';
    position: absolute;
    left: -3px;
    right: initial;
    bottom: -3px;
    width: 6px;
    height: 6px;
    background-color: var(--highlight-color);
    border-radius: 999px;
  }

  .tabulator.tabulator-rtl .tabulator-row .tabulator-cell {
    border-right: initial;
    border-left: 1px solid var(--background-color-40l);
  }

  .tabulator.tabulator-rtl .tabulator-row .tabulator-cell .tabulator-data-tree-branch {
    margin-right: initial;
    margin-left: 5px;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: 1px;
    border-left: initial;
    border-right: 2px solid var(--background-color-40l);
  }

  .tabulator.tabulator-rtl .tabulator-row .tabulator-cell .tabulator-data-tree-control {
    margin-right: initial;
    margin-left: 5px;
  }

  .tabulator.tabulator-rtl .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
    border-left: 2px solid var(--background-color-40l);
  }

  .tabulator.tabulator-rtl .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-right {
    border-right: 2px solid var(--background-color-40l);
  }

  .tabulator.tabulator-rtl .tabulator-row .tabulator-col-resize-handle:last-of-type {
    width: 3px;
    margin-left: 0;
    margin-right: -3px;
  }

  .tabulator.tabulator-rtl .tabulator-footer .tabulator-calcs-holder {
    text-align: initial;
  }

  .tabulator-print-fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
  }

  body.tabulator-print-fullscreen-hide > *:not(.tabulator-print-fullscreen) {
    display: none !important;
  }

  .tabulator-print-table {
    border-collapse: collapse;
  }

  .tabulator-print-table .tabulator-data-tree-branch {
    display: inline-block;
    vertical-align: middle;
    height: 9px;
    width: 7px;
    margin-top: -9px;
    margin-right: 5px;
    border-bottom-left-radius: 1px;
    border-left: 2px solid var(--background-color-40l);
    border-bottom: 2px solid var(--background-color-40l);
  }

  .tabulator-print-table .tabulator-print-table-group {
    box-sizing: border-box;
    border-bottom: 1px solid var(--background-color-40l);
    border-right: 1px solid var(--background-color-40l);
    border-top: 1px solid var(--background-color-40l);
    padding: 5px;
    padding-left: 10px;
    background: var(--background-color-40l);
    font-weight: bold;
    min-width: 100%;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-print-table .tabulator-print-table-group:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .tabulator-print-table .tabulator-print-table-group.tabulator-group-visible .tabulator-arrow {
    margin-right: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--highlight-color-20d);
    border-bottom: 0;
  }

  .tabulator-print-table .tabulator-print-table-group.tabulator-group-level-1 td {
    padding-left: 30px !important;
  }

  .tabulator-print-table .tabulator-print-table-group.tabulator-group-level-2 td {
    padding-left: 50px !important;
  }

  .tabulator-print-table .tabulator-print-table-group.tabulator-group-level-3 td {
    padding-left: 70px !important;
  }

  .tabulator-print-table .tabulator-print-table-group.tabulator-group-level-4 td {
    padding-left: 90px !important;
  }

  .tabulator-print-table .tabulator-print-table-group.tabulator-group-level-5 td {
    padding-left: 110px !important;
  }

  .tabulator-print-table .tabulator-print-table-group .tabulator-group-toggle {
    display: inline-block;
  }

  .tabulator-print-table .tabulator-print-table-group .tabulator-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 16px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 0;
    border-left: 6px solid var(--highlight-color);
    vertical-align: middle;
  }

  .tabulator-print-table .tabulator-print-table-group span {
    margin-left: 10px;
    color: var(--color-red);
  }

  .tabulator-print-table .tabulator-data-tree-control {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 11px;
    width: 11px;
    margin-right: 5px;
    border: 1px solid var(--background-color);
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-print-table .tabulator-data-tree-control:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-collapse {
    display: inline-block;
    position: relative;
    height: 7px;
    width: 1px;
    background: transparent;
  }

  .tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-collapse:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 3px;
    height: 1px;
    width: 7px;
    background: var(--background-color);
  }

  .tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-expand {
    display: inline-block;
    position: relative;
    height: 7px;
    width: 1px;
    background: var(--background-color);
  }

  .tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-expand:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 3px;
    height: 1px;
    width: 7px;
    background: var(--background-color);
  }

  .tabulator {
    border: 1px solid var(--background-color);
    background-color: var(--background-color);
  }

  .tabulator[tabulator-layout="fitColumns"] .tabulator-row .tabulator-cell:last-of-type {
    border-right: none;
  }

  .tabulator[tabulator-layout="fitColumns"] .tabulator-header .tabulator-col:last-child {
    border-right: none;
  }

  .tabulator input,
  .tabulator select {
    line-height: normal;
    color: var(--background-color);
  }

  .tabulator .tabulator-header {
    background-color: var(--background-color);
    border-bottom: 3px solid var(--background-color-20l);
  }

  .tabulator .tabulator-header .tabulator-col {
    border-right-color: var(--background-color);
    background-color: var(--background-color);
  }

  .tabulator .tabulator-header .tabulator-col.range-header-col {
    border-right: 2px solid var(--highlight-color);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
    border-top-color: var(--background-color);
    border-bottom-color: var(--background-color);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-range-highlight {
    background-color: var(--background-color);
    color: var(--foreground-color);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-range-selected {
    background-color: var(--highlight-color);
    color: var(--foreground-color);
  }

  .tabulator .tabulator-header .tabulator-col.tabulator-row-header {
    border-right: 1px solid var(--background-color) !important;
  }

  .tabulator .tabulator-header .tabulator-col input,
  .tabulator .tabulator-header .tabulator-col select {
    box-sizing: border-box;
    padding: 4px 10px;
    border: 1px solid var(--background-color);
    border-radius: 2px;
    background: var(--background-color);
    color: var(--foreground-color);
    outline: none;
  }

  .tabulator .tabulator-header .tabulator-col input:focus,
  .tabulator .tabulator-header .tabulator-col select:focus {
    border-color: var(--highlight-color);
  }

  .tabulator .tabulator-header .tabulator-col input + input {
    margin-left: 5px;
  }

  .tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    padding: 8px;
  }

  .tabulator .tabulator-header .tabulator-calcs-holder {
    background: var(--background-color) !important;
    border-top: 1px solid var(--background-color);
    border-top: 1px solid var(--background-color-40l);
    border-bottom: none;
  }

  .tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row {
    background-color: var(--background-color) !important;
  }

  .tabulator .tabulator-header .tabulator-cell {
    color: var(--background-color-40l) !important;
  }

  .tabulator .tabulator-tableholder::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
  }

  .tabulator .tabulator-tableholder::-webkit-scrollbar-track {
    background: var(--background-color);
    /* color of the tracking area */
  }

  .tabulator .tabulator-tableholder::-webkit-scrollbar-thumb {
    background-color: #666;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--background-color);
    /* creates padding around scroll thumb */
  }

  .tabulator .tabulator-tableholder::-webkit-scrollbar-corner {
    background: var(--background-color);
  }

  .tabulator .tabulator-tableholder .tabulator-placeholder span {
    color: var(--highlight-color);
  }

  .tabulator .tabulator-tableholder .tabulator-table {
    color: var(--foreground-color);
    background-color: var(--background-color);
    svg{
      fill: var(--foreground-color);
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  .tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs {
    font-weight: bold;
    background: var(--background-color) !important;
    color: var(--foreground-color);
  }

  .tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs-top {
    border-bottom: none;
  }

  .tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs-bottom {
    border-top: none;
  }

  .tabulator .tabulator-footer {
    padding: 5px 10px;
    padding-top: 8px;
    border-top: 3px solid var(--highlight-color);
    background-color: var(--background-color);
  }

  .tabulator .tabulator-footer .tabulator-calcs-holder {
    margin: -8px -10px 8px -10px;
    background: var(--background-color) !important;
    border-bottom: 1px solid var(--background-color);
    border-top: none;
    border-bottom: 1px solid var(--background-color-40l);
  }

  .tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row {
    background-color: var(--background-color);
    color: var(--foreground-color);
    svg {
      fill: var(--foreground-color);
    }
  }

  .tabulator .tabulator-footer .tabulator-spreadsheet-tabs {
    margin-top: -13px;
    margin-bottom: -4px;
  }

  .tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab {
    padding: 4px 10px;
    margin: 0 2px;
    border-color: var(--highlight-color);
    background-color: var(--background-color);
    border-width: 0 1px 1px 1px;
    color: var(--foreground-color);
    font-weight: normal;
  }

  .tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab.tabulator-spreadsheet-tab-active {
    background-color: var(--highlight-color);
    color: var(--background-color);
    font-weight: bold;
  }

  .tabulator .tabulator-footer .tabulator-paginator label {
    color: var(--foreground-color);
  }

  .tabulator .tabulator-footer .tabulator-page-counter {
    color: var(--foreground-color);
  }

  .tabulator .tabulator-footer .tabulator-page {
    background-color: var(--foreground-color);
    color: var(--background-color);
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  .tabulator .tabulator-footer .tabulator-page,
  .tabulator .tabulator-footer .tabulator-page-size {
    background: var(--foreground-color);
  }

  .tabulator-row {
    background-color: var(--background-color);
  }

  .tabulator-row.tabulator-row-even {
    background-color: var(--background-color-10l);
  }

  .tabulator-row.tabulator-selectable:hover {
    background-color: var(--background-color-20l);
  }

  .tabulator-row.tabulator-selected {
    background-color: var(--highlight-color);
    color: var(--background-color);
    svg {
      fill: var(--background-color) !important;
    }
  }

  .tabulator-row.tabulator-selected:hover {
    background-color: var(--highlight-color-40d);
  }

  .tabulator-row.tabulator-group {
    border-right-color: var(--background-color);
    border-top: 1px solid var(--background-color);
    border-bottom: 2px solid var(--highlight-color);
    background: var(--background-color);
    color: var(--foreground-color);
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-row.tabulator-group:hover {
      background-color: var(--background-color);
    }
  }

  .tabulator-row.tabulator-group span {
    color: var(--foreground-color-40d);
  }

  .tabulator-row.tabulator-range-highlight .tabulator-cell.tabulator-range-row-header {
    background-color: var(--highlight-color);
    color: var(--foreground-color);
  }

  .tabulator-row.tabulator-range-highlight .tabulator-cell.tabulator-range-row-header.tabulator-range-selected {
    background-color: var(--background-color);
    color: var(--foreground-color);
    svg {
      fill: var(--foreground-color);
    }
  }

  .tabulator-row.tabulator-range-highlight.tabulator-range-selected .tabulator-cell.tabulator-range-row-header {
    background-color: var(--highlight-color);
    color: var(--foreground-color);
    svg {
      fill: var(--foreground-color);
    }
  }

  .tabulator-row .tabulator-cell {
    border-right-color: var(--background-color);
    padding: 6px;
  }

  .tabulator-row .tabulator-cell.tabulator-range-row-header {
    border-right: 2px solid var(--highlight-color);
  }

  .tabulator-row .tabulator-cell.tabulator-editing {
    border: 1px solid var(--highlight-color);
  }

  .tabulator-row .tabulator-cell.tabulator-range-selected:not(.tabulator-range-only-cell-selected):not(.tabulator-range-row-header) {
    background-color: var(--background-color);
    color: var(--foreground-color);
    svg {
      fill: var(--foreground-color);
    }
  }

  .tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
    background: var(--highlight-color);
  }

  .tabulator-row .tabulator-cell.tabulator-row-header {
    border-right: 1px solid var(--background-color) !important;
    border-bottom: 1px solid var(--background-color);
    background: var(--background-color);
    color: var(--foreground-color);
    font-weight: bold;
  }

  .tabulator-row .tabulator-cell input,
  .tabulator-row .tabulator-cell select,
  .tabulator-row .tabulator-cell textarea {
    background-color: var(--background-color);
    color: var(--background-color-40l);
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control {
    height: 14px;
    width: 14px;
    border: 2px solid var(--highlight-color) !important;
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 2px;
    height: 2px;
    width: 6px;
    background: var(--highlight-color);
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand {
    height: 8px;
    width: 2px;
    background: var(--highlight-color);
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 3px;
    height: 2px;
    width: 8px;
    background: var(--highlight-color);
  }

  .tabulator-row .tabulator-cell .tabulator-data-tree-branch {
    border-left: 2px solid var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color);
  }

  .tabulator-row .tabulator-responsive-collapse {
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
  }

  .tabulator-print-table {
    border-collapse: collapse;
  }

  .tabulator-print-table .tabulator-print-table-group {
    border-bottom: 2px solid var(--highlight-color);
    background: var(--background-color);
    color: var(--foreground-color);
  }

  @media (hover: hover) and (pointer: fine) {
    .tabulator-print-table .tabulator-print-table-group:hover {
      background-color: var(--background-color);
    }
  }

  .tabulator-print-table .tabulator-print-table-group span {
    color: var(--highlight-color);
  }

  .tabulator-toggle {
    border-color: var(--background-color);
    background: var(--background-color);
  }

  .tabulator-toggle.tabulator-toggle-on {
    background: var(--highlight-color-40d);
  }

  .tabulator-toggle .tabulator-toggle-switch {
    border-color: var(--background-color);
    background: var(--highlight-color);
  }

  .tabulator-menu .tabulator-menu-item {
    color: var(--highlight-color);
  }

  .tabulator-popup,
  .tabulator-tooltip {
    color: var(--background-color);
  }
}
