<main class="animated fadeIn">
  <section class="filter">
    <input class="search" placeholder="Search for command..." #searchInput [ngModel]="search | async"
           (input)="onSearchChange($any($event.target).value)"/>
  </section>

  <section id="commands-table-{{tabId}}" class="table"></section>
  <section class="addButton"><button class="add" (click)="add()"><app-icon name="mdiPlus"></app-icon></button></section>
  <div class="card">
    @if( selectedCommand | async; as command) {
      <h2>{{command.tool}}</h2>
      <div class="row">
        <div class="item" style="flex:1">
          <div class="input-container prompt-char disabled" style="flex:1" (click)="$event.stopPropagation()">
            <label>Command</label>
            <input [ngModel]="command.command">
          </div>
        </div>
        <app-copy-edit-delete [enableCopy]="true" [enableDelete]="true" [enableEdit]="true" (onEvent)="editOrDelete($event, command)"></app-copy-edit-delete>
      </div>
      <div style="color: var(--background-color-40l); display: flex; justify-content: center; align-items: center; height: 100%;">
        Statistics comming soon.
      </div>
    }
  </div>
</main>
<app-edit-command *ngIf="showEditCommand | async"></app-edit-command>
